/*-----------------------------------------------------------------------------------

    Template Name: RKmanufacture Template 
   
    Description:  RKmanufacture Template 
    Author: 
    Author URI:
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1.     Theme Default CSS
    2.     Header Area
	3.     Hero Area
	4.     Service Area
	5.     About Area
	6.     Project Area
	7.     Donation Area
	8.     Causes Area
	9.     Funfact Area
	10.    Video Area
	11.    Event Area
	12.    Gallery Area
	13.    Client Area
	14.    Volunteer Area
	15.    Testimonial Area
	16.    Blog Area
	17.    Contact Area
	18.    Footer Area
	
-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
/*-- Font Family --*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/*-- Common Style --*/
html, body {
    height: 100%;
}

body {
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: 'Open Sans', sans-serif;
    color: #373737;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: 700;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
}

p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

input, select, textarea {
    font-family: "Open Sans", sans-serif;
}

a, i, button, img, input, span,
*:before, *:after {
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: 0px solid transparent;
}

a:focus {
    color: inherit;
    outline: medium none;
    transform: scale(1);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*-- Common Class --*/
.fix {
    overflow: hidden;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.section {
    float: left;
    width: 100%;
}

/*-- Background Color Class --*/
.bg-dark {
    background-color: #373737;
}

/*-- Custom Row --*/
.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

    .row-5 [class*="col"] {
        padding-left: 5px;
        padding-right: 5px;
    }

.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

    .row-10 [class*="col"] {
        padding-left: 10px;
        padding-right: 10px;
    }

/*-- Overlay --*/
.overlay {
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

    .overlay::before {
        position: absolute;
        left: 0;
        top: 0px;
        right: 0;
        bottom: 0;
        content: "";
        background-color: #6ab43e;
        opacity: 0.8;
    }

    .overlay.gradient::before {
        background: #6ab43e;
        background: -moz-linear-gradient(left, #6ab43e 0%, #000000 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #6ab43e), color-stop(100%, #000000));
        background: -webkit-linear-gradient(left, #6ab43e 0%, #000000 100%);
        background: -o-linear-gradient(left, #6ab43e 0%, #000000 100%);
        background: -ms-linear-gradient(left, #6ab43e 0%, #000000 100%);
        background: linear-gradient(to right, #6ab43e 0%, #000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color', endColorstr='$color-black', GradientType=1 );
    }

/*-- Container Width For Mobile Device --*/
@media only screen and (max-width: 767px) {
    .container {
        /*width: 450px;*/
        width: 90%;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        /*width: 300px;*/
        width: 90%;
    }
}
/*-- Margin Top --*/
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-105 {
    margin-top: 105px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-135 {
    margin-top: 135px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-145 {
    margin-top: 145px;
}

.mt-150 {
    margin-top: 150px;
}

/*-- Margin Bottom --*/
.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-95 {
    margin-bottom: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-105 {
    margin-bottom: 105px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-135 {
    margin-bottom: 135px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-145 {
    margin-bottom: 145px;
}

.mb-150 {
    margin-bottom: 150px;
}

/*-- Padding Top --*/
.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-105 {
    padding-top: 105px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-125 {
    padding-top: 125px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-135 {
    padding-top: 135px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-145 {
    padding-top: 145px;
}

.pt-150 {
    padding-top: 150px;
}

/*-- Padding Bottom --*/
.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 0px;
}

.pb-95 {
    /*padding-bottom: 95px;*/ padding-bottom: 0px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pb-150 {
    padding-bottom: 150px;
}

/*-- Input Placeholder --*/
input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-- Scroll Up --*/
#scrollUp {
    width: 40px;
    height: 40px;
    color: #ffffff;
    right: 40px;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    background-color: #6ab43e;
}

@media only screen and (max-width: 479px) {
    #scrollUp {
        display: none !important;
    }
}

#scrollUp i {
    display: block;
    line-height: 40px;
    font-size: 24px;
}

#scrollUp:hover i {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*-- Section Title --*/
.section-title h1 {
    font-size: 60px;
    line-height: 50px;
    color: #6ab43e;
    font-weight: 700;
    margin-bottom: 19px;
}

@media only screen and (max-width: 767px) {
    .section-title h1 {
        font-size: 46px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 479px) {
    .section-title h1 {
        font-size: 36px;
        line-height: 28px;
    }
}

.section-title h2 {
    font-size: 36px;
    line-height: 26px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title h2 {
        font-size: 30px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 767px) {
    .section-title h2 {
        font-size: 24px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 479px) {
    .section-title h2 {
        font-size: 18px;
        line-height: 17px;
    }
}

.section-title.white h2 {
    color: #ffffff;
}

.section-title p {
    max-width: 800px;
    font-size: 18px;
    color: #000000;
    line-height: 23px;
    display: block;
    margin: 35px auto 0;
}

@media only screen and (max-width: 767px) {
    .section-title p {
        font-size: 14px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 479px) {
    .section-title p {
        font-size: 12px;
        margin-top: 20px;
    }
}

/*-- Block Title --*/
.block-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

/*-- Page Banner Area --*/
.page-banner-area {
    background-image: url(img/bg/page-banner.jpg);
    padding: 60px 0 50px;
    z-index: -99;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-banner-area {
        padding: 110px 0 103px;
    }
}

@media only screen and (max-width: 767px) {
    .page-banner-area {
        padding: 80px 0 73px;
    }
}

@media only screen and (max-width: 479px) {
    .page-banner-area {
        padding: 60px 0 53px;
    }
}

/*-- Page Banner --*/
.page-banner h2 {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 22px;
}

@media only screen and (max-width: 767px) {
    .page-banner h2 {
        font-size: 24px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 479px) {
    .page-banner h2 {
        font-size: 18px;
        line-height: 14px;
    }
}

.page-banner ul {
    overflow: hidden;
}

    .page-banner ul li {
        display: inline-block;
        padding-right: 20px;
        margin-right: 15px;
        position: relative;
    }

        .page-banner ul li::after {
            content: "\f2fb";
            font-family: "Material-Design-Iconic-Font";
            color: #ffffff;
            position: absolute;
            right: 0;
            font-size: 18px;
            top: -1px;
            line-height: 12px;
            display: block;
        }

        .page-banner ul li:last-child {
            margin-right: 0;
            padding-right: 0;
        }

            .page-banner ul li:last-child::after {
                display: none;
            }

        .page-banner ul li a {
            display: block;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
        }

            .page-banner ul li a:hover {
                opacity: 0.7;
            }

/*-- Pagination --*/
.pagination {
    width: 100%;
    margin: 20px 0 0;
}

    .pagination ul {
        display: inline-block;
        vertical-align: top;
    }

        .pagination ul li {
            display: block;
            margin-right: 5px;
            float: left;
        }

            .pagination ul li:last-child {
                margin-right: 0px;
            }

            .pagination ul li a {
                display: block;
                background-color: #ffffff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                width: 34px;
                height: 34px;
                text-align: center;
                line-height: 34px;
            }

                .pagination ul li a:hover {
                    background-color: #6ab43e;
                    color: #ffffff;
                }

                .pagination ul li a i {
                    line-height: 34px;
                    font-size: 18px;
                }

            .pagination ul li.active a {
                background-color: #6ab43e;
                color: #ffffff;
            }

/*----------------------------------------*/
/*  2.  Header Area
/*----------------------------------------*/
/*-- Header Top --*/
.header-top {
    border-bottom: 1px solid #ececec;
}

/*-- Header Top Left --*/
.header-top-left {
    margin: 8px 0;
}

@media only screen and (max-width: 479px) {
    .header-top-left {
        text-align: center;
    }
}

.header-top-left p {
    font-size: 13px;
    line-height: 28px;
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin-right: 25px;
    display: inline-block;
    margin-bottom: 0;
}

@media only screen and (max-width: 479px) {
    .header-top-left p {
        display: block;
        line-height: 20px;
        margin: 0;
    }

        .header-top-left p:first-child {
            margin-bottom: 5px;
        }
}

.header-top-left p span {
    color: #6ab43e;
    font-weight: 400;
}

/*-- Header Top Right --*/
.header-top-right {
    /*-- Header Social --*/
}

    .header-top-right .get-quote {
        height: 45px;
        padding: 10px 40px;
        line-height: 25px;
        display: block;
        background-color: #6ab43e;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        border: none;
        margin-bottom: -1px;
    }

        .header-top-right .get-quote:hover {
            background-color: #77c14b;
        }

    .header-top-right .header-social a {
        display: block;
        float: left;
        width: 45px;
        height: 44px;
        padding: 10px;
        text-align: center;
        color: #777777;
        border-left: 1px solid #ececec;
    }

        .header-top-right .header-social a:hover {
            color: #6ab43e;
        }

        .header-top-right .header-social a i {
            line-height: 24px;
            display: block;
            font-size: 14px;
        }

/*-- Header Bottom --*/
/*-- Header Logo --*/
.header-logo {
    margin: 17px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-logo {
        width: 200px;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 767px) {
    .header-logo {
        width: 200px;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 479px) {
    .header-logo {
        width: 140px;
        margin: 0px 0;
    }
}

.header-logo .logo {
    display: block;
    /*margin-top: -20px;*/
}

    /*.header-logo .logo img {
        width: 100%;
    }*/

/*-- Header Search Wrapper --*/
.header-search-wrapper {
    padding: 39px 0 39px 8px;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search-wrapper {
        padding: 23px 0 24px 8px;
    }
}

@media only screen and (max-width: 767px) {
    .header-search-wrapper {
        padding: 23px 0 24px 0;
        margin-right: 47px;
    }
}

@media only screen and (max-width: 479px) {
    .header-search-wrapper {
        padding: 18px 0;
    }
}

.header-search-wrapper .search-toggle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #6ab43e;
    color: #ffffff;
    display: block;
    border: none;
}

    .header-search-wrapper .search-toggle:hover {
        background-color: #77c14b;
    }

    .header-search-wrapper .search-toggle i {
        font-size: 18px;
        line-height: 32px;
    }

/*-- Header Search --*/
.header-search {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    margin-top: 30px;
    padding: 15px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -99;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 479px) {
    .header-search {
        right: -50px;
    }
}

.header-search.open {
    margin-top: 0;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}

/*-- Header Search Form --*/
#header-search-form {
    float: left;
    position: relative;
}

    #header-search-form input[type="text"] {
        width: 300px;
        display: block;
        float: left;
        height: 44px;
        background-color: #f5f5f5;
        border: none;
        font-weight: 300;
        padding: 10px 44px 10px 15px;
    }

@media only screen and (max-width: 479px) {
    #header-search-form input[type="text"] {
        width: 250px;
    }
}

#header-search-form button {
    display: block;
    float: left;
    background-color: #f5f5f5;
    border: none;
    height: 44px;
    width: 44px;
    text-align: center;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

    #header-search-form button:hover {
        color: #6ab43e;
    }

    #header-search-form button i {
        font-size: 20px;
        line-height: 24px;
        display: block;
    }

/*-- Main Menu --*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu {
        width: 100%;
        float: left;
    }
}

.main-menu nav > ul > li {
    display: block;
    float: left;
    position: relative;
}

    .main-menu nav > ul > li > a {
        font-size: 17px;
        line-height: 30px;
        font-weight: 700;
        color: #000000;
        text-transform: uppercase;
        position: relative;
        padding: 40px 21px;
    }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-menu nav > ul > li > a {
        padding: 40px 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu nav > ul > li > a {
        padding: 20px 15px;
    }
}

.main-menu nav > ul > li > a::before {
    position: absolute;
    top: 50%;
    content: "";
    height: 2px;
    width: 0;
    background-color: #6ab43e;
    margin-top: 10px;
}

.main-menu nav > ul > li.active > a, .main-menu nav > ul > li:hover > a {
    color: #6ab43e;
}

    .main-menu nav > ul > li.active > a::before, .main-menu nav > ul > li:hover > a::before {
        width: 28px;
    }

.main-menu nav > ul > li ul {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 30px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -99;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    width: 220px;
    background-color: #ffffff;
    z-index: 999;
}

    .main-menu nav > ul > li ul li {
        border-bottom: 1px solid #eee;
    }

        .main-menu nav > ul > li ul li a {
            opacity: 1;
            padding: 8px 20px;
            font-size: 12px;
            text-transform: uppercase;
            display: block;
        }

        .main-menu nav > ul > li ul li.active a, .main-menu nav > ul > li ul li:hover a {
            background-color: transparent;
            color: #6ab43e;
        }

.main-menu nav > ul > li:hover ul {
    margin-top: 0;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}

/*-- Mobile Menu --*/
a.meanmenu-reveal {
    color: #ffffff;
    background-color: #6ab43e;
    font-size: 100%;
    height: 32px;
    padding: 3px;
    border-radius: 50%;
    top: -56px;
    text-align: center;
    width: 32px;
}

@media only screen and (max-width: 479px) {
    a.meanmenu-reveal {
        top: -50px;
    }
}

a.meanmenu-reveal:hover {
    background-color: #77c14b;
}

a.meanmenu-reveal i {
    display: block;
    font-size: 16px;
    line-height: 26px;
}

.mean-bar {
    background-color: transparent;
    min-height: auto;
    padding: 0;
    top: 100%;
}

.mean-nav {
    background: transparent none repeat scroll 0 0;
    margin: 0;
    position: relative;
}

    .mean-nav > ul {
        height: auto;
        overflow-x: scroll;
        margin-bottom: 15px;
    }

        .mean-nav > ul > li:last-child {
            border-bottom: 1px solid #ddd;
        }

        .mean-nav > ul > li li a {
            border-color: #ddd;
            opacity: 1;
            padding: 8px 0;
            font-size: 12px;
            padding-left: 15px;
        }

            .mean-nav > ul > li li a:hover {
                background-color: transparent;
                color: #6ab43e;
            }

        .mean-nav > ul > li li li a {
            border-color: #ddd;
            opacity: 1;
            padding: 8px 0;
            font-size: 12px;
            padding-left: 30px;
        }

            .mean-nav > ul > li li li a:hover {
                background-color: transparent;
                color: #6ab43e;
            }

        .mean-nav > ul > li > a, .mean-nav > ul > li a {
            border-color: #ddd;
            opacity: 1;
            padding: 8px 0;
            font-size: 12px;
        }

            .mean-nav > ul > li > a:hover, .mean-nav > ul > li a:hover {
                background-color: transparent;
                color: #6ab43e;
            }

    .mean-nav a.mean-expand {
        background-color: transparent;
        border: medium none !important;
        font-size: 20px !important;
        height: 42px;
        line-height: 42px;
        padding: 0 !important;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 40px;
    }

        .mean-nav a.mean-expand:hover {
            color: #6ab43e;
        }

        .mean-nav a.mean-expand .mean-clicked {
            font-size: 20px !important;
        }

/*----------------------------------------*/
/*  3.  Hero Area
/*----------------------------------------*/
/*-- Nivo Caption --*/
.nivo-caption {
    background-color: transparent;
    height: 100%;
    padding: 0;
    height: 100%;
}

    .nivo-caption .container {
        display: table;
        height: 100%;
    }

        .nivo-caption .container .row {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }

/*-- Hero Style For BG Image & Video --*/
.hero-image-bg {
    background-image: url(img/hero/1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.hero-video-bg {
    background-image: url(img/hero/video.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.hero-caption {
    padding: 250px 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .hero-caption {
        padding: 200px 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-caption {
        padding: 150px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-caption {
        padding: 100px 0;
    }
}

@media only screen and (max-width: 767px) {
    .hero-caption {
        padding: 70px 0;
    }
}

@media only screen and (max-width: 479px) {
    .hero-caption {
        padding: 40px 0;
    }
}

/*-- Hero Content --*/
.hero-content h1 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-content h1 {
        font-size: 50px;
        line-height: 56px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 {
        font-size: 36px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content h1 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}

.hero-content p {
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    max-width: 810px;
    padding: 0;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content p {
        font-size: 14px;
        height: 50px;
        line-height: 24px;
        margin-bottom: 10px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 479px) {
    .hero-content p {
        /*display: none;*/
    }
}

.hero-content a {
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 42px 10px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-content a {
        height: 44px;
        padding: 8px 30px 7px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content a {
        height: 36px;
        padding: 4px 20px 3px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content a {
        height: 36px;
        padding: 4px 20px 3px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 479px) {
    .hero-content a {
        height: 30px;
        padding: 1px 15px 2px;
        border-width: 1px;
        font-size: 10px;
    }
}

.hero-content a:hover {
    background-color: #ffffff;
    color: #6ab43e;
}

/*-- Nivo Diraction Nav --*/
.nivo-directionNav a {
    background-color: rgba(0, 0, 0, 0.15);
    top: 50%;
    margin-top: -31px;
    height: 62px;
    width: 62px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    overflow: hidden;
    opacity: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nivo-directionNav a {
        height: 40px;
        width: 40px;
        margin-top: -20px;
    }
}

@media only screen and (max-width: 767px) {
    .nivo-directionNav a {
        display: none;
    }
}

.nivo-directionNav a:hover span {
    opacity: 0;
}

.nivo-directionNav a:hover i {
    opacity: 1;
}

.nivo-directionNav a.nivo-prevNav {
    left: 40px;
    margin-left: 50px;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .nivo-directionNav a.nivo-prevNav {
        left: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nivo-directionNav a.nivo-prevNav {
        left: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nivo-directionNav a.nivo-prevNav {
        left: 0px;
    }
}

.nivo-directionNav a.nivo-prevNav:hover i {
    left: -11px;
}

.nivo-directionNav a.nivo-nextNav {
    right: 40px;
    margin-right: 50px;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .nivo-directionNav a.nivo-nextNav {
        right: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nivo-directionNav a.nivo-nextNav {
        right: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nivo-directionNav a.nivo-nextNav {
        right: 0px;
    }
}

.nivo-directionNav a.nivo-nextNav:hover i {
    left: 11px;
}

.nivo-directionNav a span {
    display: block;
    line-height: 62px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nivo-directionNav a span {
        line-height: 40px;
        font-size: 18px;
    }
}

.nivo-directionNav a i {
    display: block;
    line-height: 62px;
    font-size: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    opacity: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nivo-directionNav a i {
        line-height: 40px;
        font-size: 24px;
    }
}

.nivoSlider:hover .nivo-directionNav a {
    opacity: 1;
}

    .nivoSlider:hover .nivo-directionNav a.nivo-prevNav {
        margin-left: 0;
    }

    .nivoSlider:hover .nivo-directionNav a.nivo-nextNav {
        margin-right: 0;
    }

/*----------------------------------------*/
/*  4.  Service Area
/*----------------------------------------*/
/*-- Single Service --*/
.single-service {
    background-color: #6ab43e;
    padding: 60px 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-service {
        padding: 60px 45px;
    }
}

@media only screen and (max-width: 767px) {
    .single-service {
        padding: 60px 45px;
    }
}

@media only screen and (max-width: 479px) {
    .single-service {
        padding: 45px 30px;
    }
}

/*.single-service:nth-child(1) {
    background-color: #fbfbfb;
}*/

.single-service:nth-child(2) {
    background-color: #5fa137;
}

.single-service:nth-child(3) {
    background-color: #548e31;
}

.single-service:nth-child(4) {
    background-color: #487b2a;
}

.single-service img {
    margin-bottom: 20px;
}

.single-service h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.single-service p {
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

/*----------------------------------------*/
/*  4.  About Area
/*----------------------------------------*/
/*-- About Area 1 --*/
.about-area {
    position: relative;
    overflow: hidden;
}

/*-- About Image --*/
.about-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-image: url(img/about/about.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-image {
        position: static;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .about-image {
        position: static;
        width: 100%;
    }
}

.about-image img {
    width: 100%;
}

/*-- About Content --*/
.about-content {
    background-image: url(img/about/content-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 50px;
}

@media only screen and (max-width: 767px) {
    .about-content {
        padding-left: 15px;
    }
}

.about-content h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content h2 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 767px) {
    .about-content h2 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 479px) {
    .about-content h2 {
        font-size: 16px;
        line-height: 22px;
    }
}

.about-content h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content h1 {
        font-size: 30px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 767px) {
    .about-content h1 {
        font-size: 30px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 479px) {
    .about-content h1 {
        font-size: 20px;
        line-height: 24px;
    }
}

.about-content p {
    font-size: 19px;
    font-weight: 300;
    color: #bfbfbf;
    margin-bottom: 22px;
}

@media only screen and (max-width: 479px) {
    .about-content p {
        font-size: 14px;
    }
}

.about-content .button {
    padding: 9px 47px;
    height: 46px;
    line-height: 24px;
    display: inline-block;
    border: 2px solid #6ab43e;
    border-radius: 4px;
    background-color: #6ab43e;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 18px;
}

    .about-content .button:last-child {
        margin-right: 0;
    }

@media only screen and (max-width: 767px) {
    .about-content .button {
        padding: 6px 30px;
        height: 40px;
    }
}

@media only screen and (max-width: 479px) {
    .about-content .button {
        padding: 5px 20px;
        font-size: 12px;
        height: 36px;
        margin-right: 10px;
    }
}

.about-content .button.white {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}

.about-content .button:hover {
    border-color: #6ab43e;
    background-color: transparent;
    color: #6ab43e;
}

/*-- About Image 2 --*/
.about-image-2 img {
    width: 100%;
}

/*-- About Content 2 --*/
.about-content-2 {
    padding-left: 55px;
    padding-right: 85px;
    margin-top: -10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content-2 {
        padding-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-content-2 {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .about-content-2 {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.about-content-2 h2 {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content-2 h2 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 767px) {
    .about-content-2 h2 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 479px) {
    .about-content-2 h2 {
        font-size: 16px;
        line-height: 22px;
    }
}

.about-content-2 h1 {
    color: #000000;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content-2 h1 {
        font-size: 30px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 767px) {
    .about-content-2 h1 {
        font-size: 30px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 479px) {
    .about-content-2 h1 {
        font-size: 20px;
        line-height: 24px;
    }
}

.about-content-2 p {
    font-size: 16px;
    font-weight: 300;
    color: #7f7f7f;
    margin-bottom: 22px;
}

@media only screen and (max-width: 479px) {
    .about-content-2 p {
        font-size: 14px;
    }
}

.about-content-2 .button {
    padding: 9px 47px;
    height: 46px;
    line-height: 24px;
    display: inline-block;
    border: 2px solid #6ab43e;
    border-radius: 4px;
    background-color: #6ab43e;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 18px;
}

    .about-content-2 .button:last-child {
        margin-right: 0;
    }

@media only screen and (max-width: 767px) {
    .about-content-2 .button {
        padding: 6px 30px;
        height: 40px;
    }
}

@media only screen and (max-width: 479px) {
    .about-content-2 .button {
        padding: 5px 20px;
        font-size: 12px;
        height: 36px;
        margin-right: 10px;
    }
}

.about-content-2 .button.black {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.about-content-2 .button:hover {
    border-color: #6ab43e;
    background-color: transparent;
    color: #6ab43e;
}

/*----------------------------------------*/
/*  6.  Project Area
/*----------------------------------------*/
/*-- Single Project --*/

/*#example2 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}*/
.single-project {
    box-shadow: 0px 1px 20px #6ab43e;
    border: 1px solid #6ab43e;
    padding: 20px 20px 25px;
}

    .single-project img {
        margin-bottom: 28px;
        width: 100%;
    }

    .single-project h4 {
        font-size: 20px;
        margin-bottom: 1px;
    }

@media only screen and (max-width: 479px) {
    .single-project h4 {
        font-size: 18px;
    }
}

.single-project h4 a {
    color: #000000;
}

    .single-project h4 a:hover {
        color: #6ab43e;
    }

.single-project .tags {
    margin-bottom: 12px;
}

    .single-project .tags a {
        font-size: 13px;
        color: #6ab43e;
        font-weight: 400;
    }

        .single-project .tags a:hover {
            color: #000000;
        }

        .single-project .tags a::after {
            content: ",";
        }

        .single-project .tags a:last-child::after {
            display: none;
        }

.single-project p {
    color: #000000;
    margin-bottom: 22px;
}

.single-project .button {
    border: 3px solid #d3d8d0;
    height: 37px;
    padding: 0 24px;
    line-height: 32px;
    display: inline-block;
    border-radius: 4px;
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    margin-right:5px;
}

    .single-project .button:hover {
        color: #ffffff;
        border-color: #6ab43e;
        background-color: #6ab43e;
    }

.single-project .button-filled {
    background: #6ab43e;
    height: 37px;
    padding: 5px 24px;
    margin-bottom:0;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

/*-- Single Project Details --*/
.single-project-details {
    padding-right: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-project-details {
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .single-project-details {
        padding-right: 0;
    }
}

.single-project-details .main-image {
    margin: 0 0 49px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .single-project-details .main-image {
        margin-bottom: 30px;
    }
}

.single-project-details .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #676767;
    margin-top: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .single-project-details .title {
        font-size: 18px;
    }
}

.single-project-details .tags {
    margin-bottom: 12px;
    width: 100%;
}

    .single-project-details .tags a {
        font-size: 13px;
        color: #6ab43e;
        font-weight: 400;
    }

        .single-project-details .tags a:hover {
            color: #000000;
        }

        .single-project-details .tags a::after {
            content: ",";
        }

        .single-project-details .tags a:last-child::after {
            display: none;
        }

.single-project-details p {
    color: #000000;
    margin-bottom: 30px;
}

    .single-project-details p:last-child {
        margin-bottom: 0;
    }

.single-project-details h1, .single-project-details h2, .single-project-details h3, .single-project-details h4, .single-project-details h5, .single-project-details h6 {
    color: #000000;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}

.single-project-details h3 {
    font-size: 22px;
}

.single-project-details img {
    float: left;
    margin-right: 30px;
    margin-bottom: 24px;
}

.single-project-details ol {
    list-style: inside none decimal-leading-zero;
    overflow: hidden;
    padding: 0;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .single-project-details ol {
        width: 100%;
    }
}

.single-project-details ol li {
    line-height: 26px;
}

.project-footer {
    padding: 9px 21px;
    border: 1px solid #f2f2f2;
}

@media only screen and (max-width: 767px) {
    .project-footer .social {
        width: 100%;
    }
}

.project-footer .social h5 {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    margin: 0 6px 0 0;
}

.project-footer .social a {
    width: 24px;
    height: 24px;
    text-align: center;
    color: #959595;
}

    .project-footer .social a:hover {
        color: #6ab43e;
    }

    .project-footer .social a i {
        font-size: 12px;
        display: block;
        line-height: 24px;
    }

@media only screen and (max-width: 767px) {
    .project-footer .tag {
        float: left;
        width: 100%;
    }
}

.project-footer .tag h5 {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    margin: 0 6px 0 0;
}

.project-footer .tag a {
    line-height: 24px;
    font-weight: 300;
    color: #949494;
}

    .project-footer .tag a:hover {
        color: #6ab43e;
    }

    .project-footer .tag a::after {
        content: ",";
    }

    .project-footer .tag a:last-child::after {
        display: none;
    }

/*----------------------------------------*/
/*  7.  Donation Area
/*----------------------------------------*/
/*-- Donation Title --*/
.donation-title {
    background-color: #6ab43e;
    padding: 43px 30px 41px;
    margin: 0 70px -80px;
    position: relative;
    z-index: 9;
}

@media only screen and (max-width: 767px) {
    .donation-title {
        margin: 0;
        padding: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .donation-title {
        padding: 20px;
    }
}

.donation-title h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 3px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .donation-title h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .donation-title h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.donation-title h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .donation-title h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .donation-title h1 {
        font-size: 16px;
    }
}

/*-- Donation Form --*/
.donation-form {
    width: 100%;
    float: left;
    padding: 136px 70px 34px;
    background-color: #f5f5f5;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .donation-form {
        padding: 126px 50px 28px;
    }
}

@media only screen and (max-width: 767px) {
    .donation-form {
        padding: 50px 50px 28px;
    }
}

@media only screen and (max-width: 479px) {
    .donation-form {
        padding: 30px 30px 8px;
    }
}

#donation-form {
    margin: 0 -14px;
}

    #donation-form .input-box {
        width: 100%;
        padding: 0 14px;
        float: left;
        margin-bottom: 22px;
    }

        #donation-form .input-box.input-3 {
            width: 33.3333%;
        }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #donation-form .input-box.input-3 {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    #donation-form .input-box.input-3 {
        width: 100%;
    }
}

#donation-form .input-box input {
    width: 100%;
    background-color: #ffffff;
    border: none;
    font-size: 12px;
    color: #000000;
    height: 44px;
    line-height: 24px;
    padding: 10px 20px;
}

    #donation-form .input-box input:focus {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    }

    #donation-form .input-box input[type="submit"] {
        width: auto;
        padding: 10px 50px;
        background-color: #6ab43e;
        color: #ffffff;
        font-size: 13px;
        text-transform: uppercase;
    }

@media only screen and (max-width: 767px) {
    #donation-form .input-box input[type="submit"] {
        width: 100%;
    }
}

#donation-form .input-box input[type="submit"]:focus {
    box-shadow: none;
}

#donation-form .input-box input[type="submit"]:hover {
    background-color: #77c14b;
}

#donation-form .input-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(img/icon/caret-down.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #ffffff;
    border: none;
    font-size: 12px;
    color: #000000;
    height: 44px;
    line-height: 24px;
    padding: 10px 20px;
    width: 99.9%;
}

    #donation-form .input-box select:focus {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    }

    #donation-form .input-box select option {
        padding: 5px 20px;
    }

/*----------------------------------------*/
/*  8.  Causes Area
/*----------------------------------------*/
/*-- Single Causes --*/
.single-causes {
    border: 1px solid #ededed;
}

    .single-causes .wrap {
        padding: 20px 20px 23px;
    }

    .single-causes img {
        margin-bottom: 28px;
        width: 100%;
    }

    .single-causes h4 {
        font-size: 20px;
        margin-bottom: 1px;
        font-weight: 600;
    }

@media only screen and (max-width: 479px) {
    .single-causes h4 {
        font-size: 18px;
    }
}

.single-causes h4 a {
    color: #000000;
}

    .single-causes h4 a:hover {
        color: #6ab43e;
    }

.single-causes span {
    margin-bottom: 12px;
    font-size: 14px;
    color: #6ab43e;
    display: block;
    font-weight: 400;
}

.single-causes p {
    color: #a4a4a4;
    margin-bottom: 22px;
}

.single-causes .button {
    height: 34px;
    background-color: #6ab43e;
    padding: 5PX 39px;
    line-height: 24px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

    .single-causes .button:hover {
        background-color: #77c14b;
    }

.single-causes .donation-amount {
    border-top: 1px solid #ededed;
    padding: 10px 40px 10px 21px;
}

    .single-causes .donation-amount p {
        margin: 0;
        line-height: 21px;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        color: #a4a4a4;
    }

        .single-causes .donation-amount p span {
            color: #6ab43e;
            display: inline-block;
            margin-bottom: 0;
        }

/*-- Single Causes Dark --*/
.single-causes-dark {
    border: 1px solid #555555;
}

    .single-causes-dark .wrap {
        padding: 20px 20px 23px;
    }

    .single-causes-dark img {
        margin-bottom: 28px;
        width: 100%;
    }

    .single-causes-dark h4 {
        font-size: 20px;
        margin-bottom: 1px;
        font-weight: 600;
    }

@media only screen and (max-width: 479px) {
    .single-causes-dark h4 {
        font-size: 18px;
    }
}

.single-causes-dark h4 a {
    color: #e6e6e6;
}

    .single-causes-dark h4 a:hover {
        color: #6ab43e;
    }

.single-causes-dark span {
    margin-bottom: 12px;
    font-size: 14px;
    color: #6ab43e;
    display: block;
    font-weight: 400;
}

.single-causes-dark p {
    color: #c9c9c9;
    margin-bottom: 22px;
}

.single-causes-dark .button {
    height: 34px;
    background-color: #6ab43e;
    padding: 5PX 39px;
    line-height: 24px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

    .single-causes-dark .button:hover {
        background-color: #77c14b;
    }

.single-causes-dark .donation-amount {
    border-top: 1px solid #555555;
    padding: 10px 40px 10px 21px;
}

    .single-causes-dark .donation-amount p {
        margin: 0;
        line-height: 21px;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        color: #ffffff;
    }

        .single-causes-dark .donation-amount p span {
            color: #6ab43e;
            display: inline-block;
            margin-bottom: 0;
        }

/*-- Single Causes Details --*/
/*.single-causes-details {
    padding-right: 25px;
}*/

    .single-causes-details .main-image {
        margin-bottom: 49px;
        width: 100%;
    }

@media only screen and (max-width: 767px) {
    .single-causes-details .main-image {
        margin-bottom: 30px;
    }
}

.single-causes-details .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #676767;
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .single-causes-details .title {
        font-size: 18px;
    }
}

.single-causes-details .country {
    margin-bottom: 14px;
    font-size: 15px;
    color: #6ab43e;
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.single-causes-details p {
    color: #000000;
    margin-bottom: 24px;
}

    .single-causes-details p:last-child {
        margin-bottom: 0;
    }

.single-causes-details h1, .single-causes-details h2, .single-causes-details h3, .single-causes-details h4, .single-causes-details h5, .single-causes-details h6 {
    color: #000000;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}

.single-causes-details h3 {
    font-size: 22px;
}

.single-causes-details .table-responsive {
    margin-bottom: 45px;
}

.single-causes-details table {
    margin-bottom: 0;
}

    .single-causes-details table tr td {
        border: 1px solid #e4e4e4;
        padding: 9px 20px;
    }

        .single-causes-details table tr td:first-child {
            width: 58px;
        }

        .single-causes-details table tr td span {
            margin: 0;
            text-align: left;
            font-size: 15px;
            font-weight: 300;
            display: block;
            line-height: 24px;
            font-family: "Oswald", sans-serif;
        }

            .single-causes-details table tr td span.number {
                color: #9c9c9c;
                font-weight: 500;
            }

            .single-causes-details table tr td span.amount {
                color: #6ab43e;
            }

        .single-causes-details table tr td p {
            margin: 0;
            font-family: "Oswald", sans-serif;
            color: #9c9c9c;
            font-size: 15px;
            font-weight: 300;
            display: block;
            line-height: 24px;
        }

/*----------------------------------------*/
/*  9.  Funfact Area
/*----------------------------------------*/
/*-- Single Funfact --*/
.single-fact {
    display: inline-block;
    width: 230px;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 42px 15px;
    margin: 0 16px 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-fact {
        width: 195px;
        padding: 35px 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-fact {
        width: 155px;
        padding: 25px 15px;
        margin: 0 10px 20px;
    }
}

@media only screen and (max-width: 767px) {
    .single-fact {
        width: 185px;
        padding: 25px 15px;
        margin: 0 10px 20px;
    }
}

@media only screen and (max-width: 479px) {
    .single-fact {
        width: 220px;
        padding: 45px 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-fact img {
        width: 45px;
    }
}

@media only screen and (max-width: 767px) {
    .single-fact img {
        width: 45px;
    }
}

.single-fact .border {
    height: 2px;
    width: 55px;
    background-color: #b1b1b1;
    display: block;
    margin: 15px auto 18px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-fact .border {
        margin: 10px auto 13px;
    }
}

@media only screen and (max-width: 767px) {
    .single-fact .border {
        margin: 10px auto 13px;
    }
}

.single-fact h1 {
    font-size: 36px;
    font-weight: 600;
    color: #6ab43e;
    line-height: 26px;
    margin-bottom: 17px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-fact h1 {
        font-size: 26px;
        line-height: 19px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .single-fact h1 {
        font-size: 30px;
        line-height: 24px;
        margin-bottom: 15px;
    }
}

.single-fact p {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #9b9b9a;
    line-height: 12px;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-fact p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .single-fact p {
        font-size: 14px;
    }
}

/*----------------------------------------*/
/*  10.  Video Area
/*----------------------------------------*/
.video-area {
    background-image: url(img/bg/video.jpg);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-area {
        padding: 120px 0;
    }
}

@media only screen and (max-width: 767px) {
    .video-area {
        padding: 120px 0;
    }
}

/*-- Video Wrapper --*/
.video-wrapper h1 {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-wrapper h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .video-wrapper h1 {
        font-size: 20px;
    }
}

.video-wrapper p {
    max-width: 800px;
    font-size: 16px;
    color: #ffffff;
    line-height: 23px;
    display: block;
    margin: 14px auto 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-wrapper p {
        font-size: 14px;
        margin: 10px auto 20px;
    }
}

@media only screen and (max-width: 767px) {
    .video-wrapper p {
        font-size: 14px;
        margin: 10px auto 20px;
    }
}

.video-wrapper a {
    margin: 0 auto;
    display: inline-block;
    color: #ffffff;
}

    .video-wrapper a i {
        display: block;
        font-size: 80px;
        line-height: 67px;
    }

@media only screen and (max-width: 767px) {
    .video-wrapper a i {
        font-size: 60px;
        line-height: 51px;
    }
}

/*----------------------------------------*/
/*  11.  Event Area
/*----------------------------------------*/
/*-- Event List --*/
.event-list {
    background-color: #f5f5f5;
    margin-bottom: 15px;
}

    .event-list:last-child {
        margin-bottom: 0;
    }

    .event-list .date {
        border-right: 2px solid #ffffff;
        width: 114px;
        text-align: center;
        padding: 29px 15px 25px;
        margin-right: -2px;
    }

@media only screen and (max-width: 479px) {
    .event-list .date {
        border: none;
        margin: 0;
        width: auto;
        padding: 15px 20px 0;
    }
}

.event-list .date h1 {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    line-height: 27px;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.event-list .date h4 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.event-list:hover .date h1 {
    color: #6ab43e;
}

.event-list:hover .date h4 {
    color: #6ab43e;
}

.event-list .content {
    border-left: 2px solid #ffffff;
    padding: 17px 24px 15px;
}

@media only screen and (max-width: 479px) {
    .event-list .content {
        border: none;
        width: 100%;
        padding: 15px 20px 15px;
    }
}

.event-list .content a {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}

    .event-list .content a:hover {
        color: #6ab43e;
    }

.event-list .content p {
    line-height: 22px;
    font-weight: 300;
}

/*-- Event Tab List --*/
.event-tabs-list {
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

    .event-tabs-list li {
        display: block;
        float: left;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

@media only screen and (max-width: 479px) {
    .event-tabs-list li {
        width: 100% !important;
        border-left: none;
        border-right: none;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
}

.event-tabs-list li:first-child {
    border-left: none;
}

@media only screen and (max-width: 479px) {
    .event-tabs-list li:first-child {
        border-top: none;
    }
}

.event-tabs-list li:last-child {
    border-right: none;
}

@media only screen and (max-width: 479px) {
    .event-tabs-list li:last-child {
        border-bottom: none;
    }
}

.event-tabs-list li a {
    background-color: #6ab43e;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 25px;
    padding: 12px 20px;
    display: block;
}

    .event-tabs-list li a:hover {
        background-color: #589634;
    }

.event-tabs-list li.active a {
    background-color: #589634;
}

.event-tabs-list.list-2 li {
    width: 50%;
}

.event-tabs-list.list-3 li {
    width: 33.3333%;
}

.event-tabs-list.list-4 li {
    width: 25%;
}

.event-tabs-list.list-5 li {
    width: 20%;
}

/*-- Tab Content --*/
.tab-content {
    width: 100%;
    float: left;
}

.table-responsive {
    margin-bottom: 100px;
}

/*-- Event Details Table --*/
.event-details-table {
    margin-bottom: 0;
}

    .event-details-table thead tr.free-space {
        height: 17px;
        opacity: 0;
    }

        .event-details-table thead tr.free-space td {
            display: none;
        }

    .event-details-table thead tr th {
        width: 25%;
        text-align: center;
        border: 1.5px solid #ececec !important;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 23px;
        color: #8b8b8b;
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    .event-details-table tbody tr.free-space {
        height: 3px;
        opacity: 0;
    }

        .event-details-table tbody tr.free-space td {
            display: none;
        }

        .event-details-table tbody tr.free-space:last-child {
            display: none;
        }

    .event-details-table tbody tr td {
        width: 25%;
        text-align: center;
        border: none !important;
        line-height: 25px;
        padding: 15px 20px;
        color: #848484;
        background-color: #f5f5f5;
    }

/*-- Event Speaker --*/
.single-speaker {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

    .single-speaker .image img {
        width: 100%;
    }

    .single-speaker .content {
        padding: 30px 25px 28px;
    }

        .single-speaker .content h4 {
            font-size: 20px;
            color: #656565;
            line-height: 15px;
            text-transform: uppercase;
            margin-bottom: 11px;
        }

        .single-speaker .content p {
            font-family: "Oswald", sans-serif;
            font-weight: 500;
            font-size: 13px;
            color: #6ab43e;
            line-height: 11px;
            text-transform: uppercase;
        }

/*----------------------------------------*/
/*  12.  Gallery Area
/*----------------------------------------*/
.small-gallery-wrapper .row {
    padding-right: 35px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-gallery-wrapper .row {
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .small-gallery-wrapper .row {
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .small-gallery-wrapper .row {
        padding-right: 0;
    }
}

/*-- Single Gallery Item --*/
.gallery-item {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

    .gallery-item::before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: #6ab43e;
        background-image: url(img/icon/plus.png);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        transform: scale(3);
    }

    .gallery-item:hover::before {
        opacity: 0.9;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .gallery-item img {
        width: 100%;
    }

/*----------------------------------------*/
/*  13.  Client Area
/*----------------------------------------*/
@media only screen and (max-width: 767px) {
    .client-area {
        padding: 70px 0;
    }
}

/*-- Client Slider --*/
.client-slider .client-item img {
    display: inline-block;
    opacity: 0.6;
}

    .client-slider .client-item img:hover {
        opacity: 1;
    }

/*----------------------------------------*/
/*  14.  Volunteer Area
/*----------------------------------------*/
.volunteer-area {
    background-color: #373737;
}

/*-- Single Volunteer --*/
.single-volunteer .image img {
    width: 100%;
}

.single-volunteer .content {
    padding-top: 34px;
}

    .single-volunteer .content h4 {
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 600;
        line-height: 14px;
    }

    .single-volunteer .content span {
        color: #6ab43e;
        font-size: 12px;
        line-height: 12px;
        display: block;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        margin-bottom: 12px;
    }

    .single-volunteer .content p {
        color: #bcbcbc;
        font-weight: 300;
        line-height: 22px;
    }

/*----------------------------------------*/
/*  15.  Testimonial Area
/*----------------------------------------*/
.testimonial-area {
    background-image: url(img/bg/testimonial.jpg);
}

/*-- Testimonial Slider --*/
/*-- Single Testimonial --*/
.single-testimonial .content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 38px 30px 40px 30px;
    margin-bottom: 32px;
    position: relative;
}

    .single-testimonial .content::before {
        position: absolute;
        left: 30px;
        top: 100%;
        content: "";
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 18px solid rgba(0, 0, 0, 0.1);
    }

    .single-testimonial .content p {
        color: #ffffff;
        font-weight: 300;
        line-height: 22px;
    }

.single-testimonial .author {
    margin-left: 9px;
}

    .single-testimonial .author img {
        float: left;
        width: 70px;
        height: 70px;
        padding: 2px;
        background-color: #ffffff;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    .single-testimonial .author .details {
        margin-top: 16px;
    }

        .single-testimonial .author .details h4 {
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            line-height: 16px;
            color: #ffffff;
            margin-bottom: 4px;
        }

@media only screen and (max-width: 479px) {
    .single-testimonial .author .details h4 {
        font-size: 16px;
    }
}

.single-testimonial .author .details span {
    color: #ffffff;
    display: block;
    font-size: 13px;
    line-height: 20px;
}

@media only screen and (max-width: 479px) {
    .single-testimonial .author .details span {
        font-size: 12px;
    }
}

/*----------------------------------------*/
/*  16.  Blog Area
/*----------------------------------------*/
/*-- Blog Item --*/
.blog-item {
    box-shadow: 0px 1px 20px #6ab43e;
    border: 1px solid #6ab43e;
    padding: 20px 20px 25px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    /*-- Blog Image --*/
    /*-- Blog Content --*/
}

    .blog-item:hover {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    .blog-item .image {
        width: 100%;
    }

        .blog-item .image img {
            width: 100%;
        }

    .blog-item .content {
        padding: 24px 20px 20px;
        /*-- Blog Meta --*/
    }

        .blog-item .content h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 2px;
        }

            .blog-item .content h4 a {
                color: #000000;
            }

                .blog-item .content h4 a:hover {
                    color: #6ab43e;
                }

        .blog-item .content .meta {
            margin-bottom: 6px;
        }

            .blog-item .content .meta span {
                font-size: 12px;
                font-family: "Oswald", sans-serif;
                font-weight: 400;
                float: left;
                display: block;
                color: #969696;
            }

                .blog-item .content .meta span::after {
                    content: "|";
                    margin: 0 12px;
                }

                .blog-item .content .meta span:last-child::after {
                    display: none;
                }

                .blog-item .content .meta span a {
                    display: inline-block;
                    color: #6ab43e;
                }

        .blog-item .content p {
            margin-bottom: 13px;
        }

        .blog-item .content .read-more {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            color: #909090;
        }

            .blog-item .content .read-more:hover {
                color: #6ab43e;
            }

/*-- Single Blog Details --*/
.single-blog-details {
    padding-right: 25px;
    /*-- Blog Image --*/
    /*-- Title --*/
    /*-- Meta --*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-details {
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-details {
        padding-right: 0;
    }
}

.single-blog-details .main-image {
    margin: 0 0 49px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .single-blog-details .main-image {
        margin-bottom: 30px;
    }
}

.single-blog-details .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #676767;
    margin-top: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .single-blog-details .title {
        font-size: 18px;
    }
}

.single-blog-details .meta {
    margin-bottom: 12px;
    width: 100%;
}

    .single-blog-details .meta a {
        color: #878787;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 24px;
        margin-right: 15px;
    }

        .single-blog-details .meta a:hover {
            color: #6ab43e;
        }

        .single-blog-details .meta a i {
            display: block;
            float: left;
            font-size: 14px;
            line-height: 22px;
            margin-right: 7px;
            padding-left: 2px;
        }

.single-blog-details p {
    color: #000000;
    margin-bottom: 30px;
}

    .single-blog-details p:last-child {
        margin-bottom: 0;
    }

.single-blog-details h1, .single-blog-details h2, .single-blog-details h3, .single-blog-details h4, .single-blog-details h5, .single-blog-details h6 {
    color: #000000;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}

.single-blog-details h3 {
    font-size: 22px;
}

.single-blog-details img {
    float: left;
    margin-right: 30px;
    margin-bottom: 24px;
}

.single-blog-details ol {
    list-style: inside none decimal-leading-zero;
    overflow: hidden;
    padding: 0;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .single-blog-details ol {
        width: 100%;
    }
}

.single-blog-details ol li {
    line-height: 26px;
}

/*-- Blog Details Footer --*/
.blog-details-footer {
    padding: 9px 21px;
    border: 1px solid #f2f2f2;
    /*-- Social --*/
    /*-- Tags --*/
}

@media only screen and (max-width: 767px) {
    .blog-details-footer .social {
        width: 100%;
    }
}

.blog-details-footer .social h5 {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    margin: 0 6px 0 0;
}

.blog-details-footer .social a {
    width: 24px;
    height: 24px;
    text-align: center;
    color: #959595;
}

    .blog-details-footer .social a:hover {
        color: #6ab43e;
    }

    .blog-details-footer .social a i {
        font-size: 12px;
        display: block;
        line-height: 24px;
    }

@media only screen and (max-width: 767px) {
    .blog-details-footer .tag {
        float: left;
        width: 100%;
    }
}

.blog-details-footer .tag h5 {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    margin: 0 6px 0 0;
}

.blog-details-footer .tag a {
    line-height: 24px;
    font-weight: 300;
    color: #949494;
}

    .blog-details-footer .tag a:hover {
        color: #6ab43e;
    }

    .blog-details-footer .tag a::after {
        content: ",";
    }

    .blog-details-footer .tag a:last-child::after {
        display: none;
    }

/*----------------------------------------*/
/*  Sidebar Style
/*----------------------------------------*/
/*-- Single Sidebar --*/
.single-sidebar {
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

    .single-sidebar:last-child {
        margin-bottom: 0;
    }

    .single-sidebar .title {
        font-size: 22px;
        text-transform: capitalize;
        color: #686868;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 25px;
    }

        .single-sidebar .title span {
            color: #6ab43e;
        }

/*-- Search Sidebar --*/
.search-sidebar form {
    padding: 4px;
    border: 1px solid #ededed;
    border-radius: 10px;
    float: left;
    width: 100%;
    position: relative;
}

    .search-sidebar form input {
        float: left;
        border: none;
        background-color: transparent;
        height: 30px;
        width: 100%;
        padding: 3px 35px 3px 14px;
        color: #c3c3c3;
        font-size: 13px;
        font-weight: 300;
    }

    .search-sidebar form button {
        float: left;
        height: 30px;
        width: 34px;
        color: #6ab43e;
        text-align: center;
        background-color: transparent;
        border-width: 0 0 0 1px;
        border-color: #dadada;
        position: absolute;
        right: 4px;
        top: 4px;
    }

        .search-sidebar form button i {
            font-size: 20px;
            display: block;
            line-height: 30px;
        }

/*-- About Sidebar --*/
.about-sidebar p {
    color: #949393;
}

/*-- Donation Sidebar --*/
.donation-sidebar form .input-box {
    width: 100%;
    float: left;
    margin-bottom: 9px;
}

    .donation-sidebar form .input-box:last-child {
        margin-bottom: 0;
    }

    .donation-sidebar form .input-box input {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #ededed;
        font-size: 12px;
        color: #bebebe;
        height: 38px;
        line-height: 24px;
        padding: 6px 15px;
        text-transform: uppercase;
    }

        .donation-sidebar form .input-box input:focus {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
        }

        .donation-sidebar form .input-box input[type="submit"] {
            width: 100%;
            padding: 8px 50px;
            border: none;
            background-color: #6ab43e;
            color: #ffffff;
            font-size: 13px;
            margin-top: 5px;
        }

            .donation-sidebar form .input-box input[type="submit"]:focus {
                box-shadow: none;
            }

            .donation-sidebar form .input-box input[type="submit"]:hover {
                background-color: #77c14b;
            }

    .donation-sidebar form .input-box select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background-image: url(img/icon/caret-down.png);
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-color: #ffffff;
        border: 1px solid #ededed;
        font-size: 12px;
        color: #bebebe;
        height: 38px;
        line-height: 24px;
        padding: 6px 15px;
        width: 99.8%;
        text-transform: uppercase;
    }

        .donation-sidebar form .input-box select:focus {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
        }

        .donation-sidebar form .input-box select option {
            padding: 5px 15px;
        }

/*-- Recent Post Sidebar --*/
.recent-post-sidebar li {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .recent-post-sidebar li:last-child {
        margin-bottom: 0;
    }

    .recent-post-sidebar li .image {
        width: 67px;
        display: block;
        margin-right: 13px;
        position: relative;
        overflow: hidden;
        border: 1px solid #eeeeee;
    }

        .recent-post-sidebar li .image::before {
            position: absolute;
            left: 50%;
            top: 50%;
            font-family: FontAwesome;
            content: "\f0c1";
            opacity: 0;
            z-index: 2;
            text-align: center;
            width: 30px;
            height: 30px;
            margin-left: -15px;
            margin-top: -15px;
            color: #ffffff;
            font-size: 18px;
            line-height: 30px;
        }

        .recent-post-sidebar li .image:hover::before {
            opacity: 1;
        }

        .recent-post-sidebar li .image::after {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #6ab43e;
            opacity: 0;
        }

        .recent-post-sidebar li .image:hover::after {
            opacity: 0.9;
        }

        .recent-post-sidebar li .image img {
            width: 100%;
        }

    .recent-post-sidebar li .content a {
        font-size: 16px;
        font-weight: 500;
        color: #565656;
        display: block;
        margin-bottom: 3px;
    }

        .recent-post-sidebar li .content a:hover {
            color: #6ab43e;
        }

    .recent-post-sidebar li .content p {
        font-size: 13px;
        line-height: 20px;
        color: #7c7c7c;
    }

/*-- Tags Sidebar --*/
.tags-sidebar {
    margin: 0 -4px;
}

    .tags-sidebar a {
        display: block;
        border: 1px solid #ededed;
        font-weight: 300;
        color: #a5a5a5;
        text-transform: capitalize;
        line-height: 24px;
        padding: 3px 14px;
        float: left;
        margin: 0 4px 8px;
    }

        .tags-sidebar a:hover {
            background-color: #6ab43e;
            border-color: #6ab43e;
            color: #ffffff;
        }

/*-- Category Sidebar --*/
.category-sidebar li a {
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    color: #999999;
    text-transform: capitalize;
}

    .category-sidebar li a:hover {
        color: #6ab43e;
    }

/*-- Comment Wrapper --*/
.comment-wrapper {
    margin-top: 70px;
    padding-right: 25px;
}

    .comment-wrapper h3 {
        font-size: 22px;
        color: #686868;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 55px;
    }

@media only screen and (max-width: 767px) {
    .comment-wrapper h3 {
        font-size: 18px;
        line-height: 14px;
    }
}

/*-- Comment Form --*/
.comment-form form {
    margin-left: -15px;
    margin-right: -15px;
}

    .comment-form form .input-box {
        float: left;
        width: 100%;
        padding: 0 15px;
        margin-bottom: 40px;
    }

        .comment-form form .input-box:last-child {
            margin-bottom: 0;
            margin-top: -10px;
        }

        .comment-form form .input-box.input-2 {
            width: 50%;
        }

@media only screen and (max-width: 767px) {
    .comment-form form .input-box.input-2 {
        width: 100%;
    }
}

.comment-form form .input-box input {
    width: 100%;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #be6c42;
    padding: 0 0 6px;
    font-size: 13px;
    font-weight: 300;
    color: #969696;
}

    .comment-form form .input-box input[type="submit"] {
        width: auto;
        padding: 8px 50px;
        border: none;
        background-color: #6ab43e;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

        .comment-form form .input-box input[type="submit"]:hover {
            background-color: #77c14b;
        }

.comment-form form .input-box textarea {
    width: 100%;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #be6c42;
    padding: 0 0 6px;
    font-size: 13px;
    font-weight: 300;
    color: #969696;
    height: 80px;
}

/*----------------------------------------*/
/*  17.  Contact Area
/*----------------------------------------*/
/*-- Single Contact Info --*/
.single-contact-info {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 40px 40px 35px;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-contact-info {
        padding: 40px 15px;
    }
}

.single-contact-info h4 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    line-height: 14px;
    margin-bottom: 16px;
}

.single-contact-info p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    color: #818181;
    font-family: "Oswald", sans-serif;
}

.single-contact-info:hover {
    background-color: #6ab43e;
    border-radius: 5px;
}

    .single-contact-info:hover h4 {
        color: #ffffff;
    }

    .single-contact-info:hover p {
        color: #ffffff;
    }

/*-- Contact Form --*/
.contact-form form {
    margin-left: -15px;
    margin-right: -15px;
}

    .contact-form form .input-box {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 18px;
        float: left;
    }

        .contact-form form .input-box:last-child {
            margin-bottom: 0;
        }

        .contact-form form .input-box.input-2 {
            width: 50%;
        }

@media only screen and (max-width: 767px) {
    .contact-form form .input-box.input-2 {
        width: 100%;
    }
}

.contact-form form .input-box.input-3 {
    width: 33.3333%;
}

@media only screen and (max-width: 767px) {
    .contact-form form .input-box.input-3 {
        width: 100%;
    }
}

.contact-form form .input-box input {
    width: 100%;
    border: 1px solid #6ab43e;
    height: 40px;
    padding: 7px 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
}

    .contact-form form .input-box input[type="submit"] {
        width: auto;
        padding: 8px 40px;
        background-color: #6ab43e;
        border: none;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 400;
    }

        .contact-form form .input-box input[type="submit"]:hover {
            background-color: #77c14b;
        }

.contact-form form .input-box textarea {
    width: 100%;
    border: 1px solid #6ab43e;
    height: 160px;
    padding: 7px 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
}

/*-- Contact Map --*/
.contact-map {
    margin-top: 79px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-map {
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .contact-map {
        margin-top: 0;
    }
}

#contact-map {
    width: 100%;
    height: 276px;
}

/*----------------------------------------*/
/*  18.  Footer Area
/*----------------------------------------*/
/*-- Footer Top Area --*/
/*-- Footer Widget --*/
.footer-widget h3 {
    font-size: 22px;
    line-height: 16px;
    padding-bottom: 19px;
    margin-bottom: 33px;
    font-weight: 500;
    text-transform: capitalize;
    color: #bebebe;
    position: relative;
}

    .footer-widget h3::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        content: "";
        width: 66px;
        background-color: #898989;
    }

    .footer-widget h3::after {
        position: absolute;
        left: 0;
        bottom: 4px;
        height: 1px;
        content: "";
        width: 132px;
        background-color: #898989;
    }

/*-- About Widget --*/
.about-widget img {
    margin-bottom: 18px;
}

.about-widget p {
    color: #bebebe;
    margin-bottom: 19px;
}

.about-widget .button {
    padding: 10px 38px;
    background-color: #6ab43e;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    height: 40px;
    line-height: 20px;
    border: none;
}

    .about-widget .button:hover {
        background-color: #77c14b;
    }

/*-- Footer Social --*/
.footer-social {
    margin-bottom: 24px;
}

    .footer-social a {
        display: inline-block;
        margin-right: 24px;
        color: #b7b7b7;
    }

        .footer-social a:hover {
            color: #6ab43e;
        }

        .footer-social a i {
            display: block;
            font-size: 16px;
            line-height: 20px;
        }

/*-- News Widget --*/
.footer-news {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

    .footer-news:last-child {
        margin-bottom: 0;
    }

    .footer-news .image {
        width: 85px;
        display: block;
        margin-right: 15px;
        position: relative;
        overflow: hidden;
    }

        .footer-news .image::before {
            position: absolute;
            left: 50%;
            top: 50%;
            font-family: FontAwesome;
            content: "\f0c1";
            opacity: 0;
            z-index: 2;
            text-align: center;
            width: 30px;
            height: 30px;
            margin-left: -15px;
            margin-top: -15px;
            color: #ffffff;
            font-size: 18px;
            line-height: 30px;
        }

        .footer-news .image:hover::before {
            opacity: 1;
        }

        .footer-news .image::after {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #6ab43e;
            opacity: 0;
        }

        .footer-news .image:hover::after {
            opacity: 0.9;
        }

        .footer-news .image img {
            width: 100%;
        }

    .footer-news .content a {
        font-size: 18px;
        font-weight: 500;
        color: #bebebe;
        margin-bottom: 5px;
    }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-news .content a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 479px) {
    .footer-news .content a {
        font-size: 14px;
        line-height: 20px;
    }
}

.footer-news .content a:hover {
    color: #6ab43e;
}

.footer-news .content p {
    line-height: 22px;
    color: #a5a5a5;
}

/*-- Flickr Gallery Widget --*/
.flickr-gallery {
    margin-left: -7px;
    margin-right: -7px;
}

    .flickr-gallery li {
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: 14px;
        display: block;
        float: left;
        width: 25%;
    }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .flickr-gallery li {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .flickr-gallery li {
        width: 20%;
    }
}

.flickr-gallery li a {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

    .flickr-gallery li a::before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: #6ab43e;
        background-image: url(img/icon/plus-2.png);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        transform: scale(3);
    }

    .flickr-gallery li a:hover::before {
        opacity: 0.9;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .flickr-gallery li a img {
        width: 100%;
    }

/*-- Footer Bottom Area --*/
.footer-bottom-area {
    background-color: #262626;
    padding: 10px 0;
    /*-- Copyright --*/
    /*-- Author Credit --*/
}

@media only screen and (max-width: 767px) {
    .footer-bottom-area .copyright {
        text-align: center;
    }
}

.footer-bottom-area .copyright p {
    color: #9b9b9b;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

    .footer-bottom-area .copyright p span {
        color: #ffffff;
    }

@media only screen and (max-width: 767px) {
    .footer-bottom-area .author-credit {
        text-align: center;
    }
}

.footer-bottom-area .author-credit p {
    color: #9b9b9b;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

    .footer-bottom-area .author-credit p a:hover {
        color: #6ab43e;
    }

    .footer-bottom-area .author-credit p i {
        color: #6ab43e;
    }

/*# sourceMappingURL=style.css.map */
