﻿@model AddUpdateSliderModel
@{
    string _action = ViewBag.action;
    ViewBag.Title = "AddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.SliderImageUrl + "Default.png", saveFilePath = GlobalConfig.SliderImagePath, hdnImageName = "sliderimage" };
}
@Styles.Render("~/css/uploadImage")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Home", FormMethod.Post, new { @id = "submitForm" }))
            {
                if (Model != null && Model.Id > 0)
                {
                    @Html.HiddenFor(x => x.Id)
                }
                @Html.HiddenFor(x=>x.sliderimage)

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Slider Data</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">

                            @Html.ValidationSummary(true)
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <div id="divUpload" class="col-md-12">
                                            @if (Model != null && Model.Id > 0)
                                            {
                                                <div class="col-lg-3 col-md-6 col-xs-12">
                                                    <img class="img-thumbnail img-fluid img-custom-size" src="@(GlobalConfig.SliderImageUrl + Model.sliderimage)" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">Images <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="required size height:823 width:1923"></span></label>
                                        <div class="col-md-3">
                                            @Html.Partial("_ImageUpload", objUploadImage)
                                            @Html.ValidationMessageFor(x=>x.sliderimage)
                                            <span id="spanErrUpload" class="field-validation-error" style="display:none;">
                                                <span>Please upload image</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Header Text  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(x => x.HeaderText, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.HeaderText)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Description  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Description)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-md btn-primary" value="Save" />
                                            <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")

    <script type="text/javascript">
        ActiveMenu("Products");

        $(function () {
            //var profile = document.getElementById("fileImage_@objUploadImage.hdnImageName");
            //var fileInput = $(this).find("input[type=file]")[0],
            //file = profile.files && profile.files[0];


            var profile = document.getElementById("fileImage_@objUploadImage.hdnImageName");
            profile.onchange = function () {
                var filesize = parseFloat(this.files[0].size / 1024 / 1024);

                if (filesize > 5) {
                    toastr.error('Please upload file size 5MB or less', 'Error !');
                }
                else {
                    readURL(this);
                }
            };
            profile.onclick = function () {
                $(this).val('');
            };
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var dvCropImage = document.getElementById("dvCrop_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName)));
                dvCropImage.innerHTML = "";

                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement("IMG");
                    img.id = "cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName));
                    img.className = "file-crop";
                    img.src = e.target.result;
                    dvCropImage.appendChild(img);
                };
                reader.readAsDataURL(input.files[0]);

                $("#Modal_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).modal().on('shown.bs.modal',
                    function () {
                        InitilizeImageCrop();
                    });
            }
        }

        @*function InitilizeImageCrop() {
            $("#loader_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).hide()
            $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper({
               //autoCropArea: 0,
               aspectRatio: 16 / 9,
                //minCropBoxWidth: 1920,
                //minCropBoxHeight: 823,
                zoomable: false,
                scalable: false,
                rotatable: true,
                guides: false,
                dragCrop: false,
                width: 1920,
                height: 823,
                cropBoxResizable: false,
                built: function () {
                    $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper("setCropBoxData", { width: "1920", height: "823" });
                }
                //viewMode: 2
            });
        }*@

        function InitilizeImageCrop() {
            $("#loader_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).hide()
            $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper({
                dragMode: 'move',
                aspectRatio: 16 / 9,
                autoCropArea: 0.65,
                restore: false,
                guides: false,
                center: false,
                highlight: false,
                cropBoxMovable: false,
                cropBoxResizable: false,
                cropBoxResizable: false,             
                built: function () {
                    $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper("setCropBoxData", { width: "1920", height: "823" });
                }
                //viewMode: 2
            });
        }

    </script>

}


