﻿
@{
    ViewBag.Title = "Crop";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.SliderImageUrl + "Default.png", saveFilePath = GlobalConfig.SliderImagePath, hdnImageName = "sliderimage" };
}
<link href="~/Content/Plugins/Cropper/cropper.css" rel="stylesheet" />
<style>

    .container {
        width: 100%;
        margin: 20px auto;
        height: auto;
    }

    img {
        max-width: 100%;
    }
</style>
<h2>Crop</h2>

<div class="container">
    <h1>Minimum and maximum cropped dimensions</h1>
    <h3>Image</h3>
    <div>

        <img id="image" src="~/Content/sss.png" alt="Picture">
    </div>
    <p>Maximum Width: 640, Maximum Height: 320, Minimum Width: 320, Minimum Height: 160</p>
    <p>Data: <span id="data"></span></p>
    <h3>Result</h3>
    <p>
        <button type="button" id="button">Crop</button>
    </p>
    <div id="result"></div>
</div>
@section Scripts {
    <script src="~/Content/Plugins/Cropper/cropper.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var image = document.querySelector('#image');
            var data = document.querySelector('#data');
            var button = document.getElementById('button');
            var result = document.getElementById('result');
            var minCroppedWidth = 1920;
            var minCroppedHeight = 823;
            var maxCroppedWidth = 1920;
            var maxCroppedHeight = 823;
            var cropper = new Cropper(image, {
                viewMode: 3,
                dragMode: 'move',
                aspectRatio: 16 / 9,
                autoCropArea: 0.65,
                restore: false,
                guides: false,
                center: false,
                highlight: false,
                cropBoxMovable: false,
                cropBoxResizable: false,
                toggleDragModeOnDblclick: false,
                data: {
                    width: (minCroppedWidth + maxCroppedWidth) / 2,
                    height: (minCroppedHeight + maxCroppedHeight) / 2,
                },

                crop: function (event) {
                    var width = event.detail.width;
                    var height = event.detail.height;

                    if (
                        width < minCroppedWidth
                        || height < minCroppedHeight
                        || width > maxCroppedWidth
                        || height > maxCroppedHeight
                    ) {
                        cropper.setData({
                            width: Math.max(minCroppedWidth, Math.min(maxCroppedWidth, width)),
                            height: Math.max(minCroppedHeight, Math.min(maxCroppedHeight, height)),
                        });
                    }

                    data.textContent = JSON.stringify(cropper.getData(true));
                },
            });

            button.onclick = function () {
                result.innerHTML = '';
                result.appendChild(cropper.getCroppedCanvas());
            };
        });</script>
}

