﻿@model List<AddUpdateSliderModel>
@using GridMvc.Html
@{
    string _action = ViewBag.action;
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/gridMvc")

@helper viewImage(string imgname)
{
    <img src="@(GlobalConfig.SliderImageUrl+imgname)" style="height:100px;width:200px;" />
}

@helper ActionButtons(long Id)
{
    <div class="form-group row">
        @*<a href="@Url.Action("Edit", "Home", new { @id = Id})" class="btn btn-sm btn-primary btn-blue">
            <i class="icon-edit2"></i> Edit
        </a>*@
        <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@Id">
            <i class="icon-trash4"></i> Delete
        </a>
    </div>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">SLider</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {

                               column.Add().Titled("SliderImage").Encoded(false).Sanitized(false).RenderValueAs(x=>viewImage(x.sliderimage));

                               column.Add(x => x.HeaderText).Titled("HeaderText");

                               column.Add(x => x.Description).Titled("Discription");


                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                               .RenderValueAs(x => ActionButtons(x.Id));
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Slider");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
         $(function () {
             $(".btnDelete").click(function () {
                deleteR($(this), '@Url.Action("DeleteSlider")');
            });
        });

        function deleteR(control, Url) {
            control.children('i').removeClass('icon-trash-o').addClass('icon-spinner10 spinner');
            swal({
                title: "Are you sure to delete this record?",
                text: "You will not be able to recover this date!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                        if (response) {
                            control.parent().parent().parent().hide();
                            setTimeout(function () { control.remove() }, 300);
                            swal("Deleted!", response.Message, "success");
                        }
                        else {
                            control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                            swal("Error", response.Message, "error");
                        }
                    });
                } else {
                    control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                    swal("Cancelled", "Your record is safe :)", "info");
                }
            });

        }

    </script>
}



