﻿@model ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Reset Password - @GlobalConfig.ProjectName</title>

    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Files/DefaultImages/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Files/DefaultImages/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#005893">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Files/DefaultImages/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#005893">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    @Styles.Render("~/css/bundles")
    <style>
        .bg-cyan.bg-lighten-2 {
            background-color: #685e7f !important;
        }
    </style>
</head>
<body data-open="click" data-menu="vertical-content-menu" data-col="1-column" class="vertical-layout vertical-content-menu 1-column bg-cyan bg-lighten-2 blank-page blank-page  pace-done">
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header no-border">
                                <div class="card-title text-xs-center">
                                    <div class="p-1">
                                        <img src=@Url.Content("~/Files/DefaultImages/login-logo.png") alt="branding logo">
                                    </div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
                                    <span>
                                        Please type in your new password
                                    </span>
                                </h6>
                            </div>
                            <div class="card-body collapse in">
                                <div class="col-lg-12">
                                    @Html.Partial("_Alert")
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-block">
                                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new
                                    {
                                        @class = "form-horizontal form-simple"
                                    }))
                                    {
                                        @Html.HiddenFor(x => x.PasswordResetToken)
                                        @Html.HiddenFor(x => x.EmailID)

                                        <fieldset class="form-group position-relative has-icon-left">
                                            @Html.PasswordFor(x => x.NewPassword, new
                                       {
                                           @class = "form-control form-control-lg input-lg",
                                           @placeholder = "New Password"
                                       })
                                        </fieldset>

                                        <fieldset class="form-group position-relative has-icon-left">
                                            @Html.PasswordFor(x => x.ConfirmPassword, new
                                       {
                                           @class = "form-control form-control-lg input-lg",
                                           @placeholder = "Retype Your Password"
                                       })
                                        </fieldset>

                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            <i class="icon-unlock2"></i> Confirm password
                                        </button>
                                        @Html.ValidationSummary();
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/jQuery/bundles")
    @Scripts.Render("~/jQuery/validate")
</body>
</html>
