﻿@model AddProductModeltems
@{
    ViewBag.Title = "AddModel";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.ProductImageUrl + "Default.png", saveFilePath = GlobalConfig.ProductImagePath, hdnImageName = "Logo" };
}
@Styles.Render("~/css/uploadImage")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AddModel", "Product", FormMethod.Post, new { @id = "submitForm" }))
            {
                if (Model != null && Model.Id > 0)
                {
                    @Html.HiddenFor(x => x.Id)
                }
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.HiddenModelImages)
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add ProductDetail</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">

                            @Html.ValidationSummary(true)
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div id="divMultiUpload" class="col-md-12">
                                            @if (Model != null && Model.Id > 0)
                                            {
                                                <div class="col-lg-3 col-md-6 col-xs-12">
                                                    <img class="img-thumbnail img-fluid img-custom-size" src="@(GlobalConfig.ProductImageUrl + Model.DefaultImage)" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">Images <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upload Logo"></span></label>
                                        <div class="col-md-3">
                                            @Html.Partial("_MultiImageUpload", objUploadImage)
                                            <span id="spanErrUpload" class="field-validation-error" style="display:none;">
                                                <span>Please upload Logo</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Name  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, Model.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Name  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Description)
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="repeater">
                                            <div data-repeater-list="ProductProperty">

                                                @if (Model.ProductProperty != null && Model.ProductProperty.Any())
                                                {
                                                    for (int i = 0; i < Model.ProductProperty.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("PropertyLable", Model.ProductProperty[i].PropertyName, new { @class = "form-control", @placeholder = "Text" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("PropertyValue", Model.ProductProperty[i].PropertyValue, new { @class = "form-control", @placeholder = "Value" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i> Delete
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <div data-repeater-item>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("PropertyLable", null, new { @class = "form-control", @placeholder = "Text", })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("PropertyValue", null, new { @class = "form-control", @placeholder = "Value", })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i> Delete
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button data-repeater-create class="btn btn-success" type="button">
                                                        <i class="icon-plus4"></i> Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-md btn-primary" value="Save" />
                                            <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">

    var ModelImages = [];
</script>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/repeater")


    <script type="text/javascript">
        ActiveMenu("Products");

        $('#divUpload .removeImage').on('click', function () {
            alert('');
        });

        $('.repeater').repeater();

        $(function () {
            var profile = document.getElementById("fileImage_@objUploadImage.hdnImageName");
            profile.onchange = function () {
                var filesize = parseFloat(this.files[0].size / 1024 / 1024);

                if (filesize > 2) {
                    toastr.error('Please upload file size 2MB or less', 'Error !');
                }
                else {
                    readURL(this);
                }
            };
            profile.onclick = function () {
                $(this).val('');
            };
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var dvCropImage = document.getElementById("dvCrop_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName)));
                dvCropImage.innerHTML = "";

                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement("IMG");
                    img.id = "cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName));
                    img.className = "file-crop";
                    img.src = e.target.result;
                    dvCropImage.appendChild(img);
                };
                reader.readAsDataURL(input.files[0]);

                $("#Modal_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).modal().on('shown.bs.modal',
                    function () {
                        InitilizeImageCrop();
                    });
            }
        }

        function InitilizeImageCrop() {
            $("#loader_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).hide()
            $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper({
               // autoCropArea: 1,
               aspectRatio: 1 / 1,
                minCropBoxWidth: 327,
                minCropBoxHeight: 200,
                zoomable: false,
                scalable: false,
                rotatable: true,
                guides: false,
                dragCrop: false,
                width: 327,
                height: 200,
                cropBoxResizable: false,
                built: function () {
                    $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper("setCropBoxData", { width: "327", height: "200" });
                }
                //viewMode: 2
            });
        }

        //$('#submitForm').on('submit', function () {
        //    //alert("please check here");
        //    ModelImages = $("#divUpload").find("IMG").map(function () {
        //        return $(this).data('element');
        //    }).get();

        //    return false;
        //});


    </script>
}