﻿@model AddProductModeltems
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.ProductImageUrl + "Default.png", saveFilePath = GlobalConfig.ProductImagePath, hdnImageName = "Logo" };
}
@Styles.Render("~/css/uploadImage")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { @id = "submitForm" }))
            {
                if (Model != null && Model.Id > 0)
                {
                    @Html.HiddenFor(x => x.Id)
                }
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.HiddenModelImages)
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add ProductDetail</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">

                            @Html.ValidationSummary(true)
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div id="divMultiUpload" class="col-md-12">
                                            @if (Model != null && Model.Id > 0)
                                            {
                                                foreach (var i in Model.ModelImages)
                                                {
                                                    <div class="col-lg-3 col-md-6 col-xs-12 margintop20"><img class="img-thumbnail img-fluid img-custom-size" data-new="1" data-imagename="@i" src="@(GlobalConfig.ProductImageUrl +i )"><br><br><input type="radio" id="DefaultImage" name="DefaultImage" value="@i">Default<br><br><a href="javascript:;" class="btn btn-danger removeImage">Remove</a></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">Images <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upload Logo"></span></label>
                                        <div class="col-md-3">
                                            @Html.Partial("_MultiImageUpload", objUploadImage)
                                            <span id="spanErrUpload" class="field-validation-error" style="display:none;">
                                                <span>Please upload Logo</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Name  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            VideoLink  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.VideoLink, new { @class = "form-control" })                                            
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Description  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Description)
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3">
                                    Property  <span class="red">*</span>
                                </label>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="repeater">
                                            <div data-repeater-list="ProductProperty">

                                                @if (Model.ProductProperty != null && Model.ProductProperty.Any())
                                                {
                                                    for (int i = 0; i < Model.ProductProperty.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("PropertyName", Model.ProductProperty[i].PropertyName, new { @class = "form-control", @placeholder = "Text" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("PropertyValue", Model.ProductProperty[i].PropertyValue, new { @class = "form-control", @placeholder = "Value" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i> Delete
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <div data-repeater-item>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("PropertyName", null, new { @class = "form-control", @placeholder = "Text", })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("PropertyValue", null, new { @class = "form-control", @placeholder = "Value", })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i> Delete
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button data-repeater-create class="btn btn-success" type="button">
                                                        <i class="icon-plus4"></i> Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3">
                                    Features  <span class="red">*</span>
                                </label>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="repeater">
                                            <div data-repeater-list="ProductFeatures">

                                                @if (Model.ProductFeatures != null && Model.ProductFeatures.Any())
                                                {
                                                    for (int i = 0; i < Model.ProductFeatures.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("Feature", Model.ProductFeatures[i].Feature, new { @class = "form-control", @placeholder = "feature" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i> Delete
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <div data-repeater-item>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("Feature", null, new { @class = "form-control", @placeholder = "Text", })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i> Delete
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button data-repeater-create class="btn btn-success" type="button">
                                                        <i class="icon-plus4"></i> Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3">
                                    Benefits  <span class="red">*</span>
                                </label>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="repeater">
                                            <div data-repeater-list="ProductBenefits">

                                                @if (Model.ProductBenefits != null && Model.ProductBenefits.Any())
                                                {
                                                    for (int i = 0; i < Model.ProductBenefits.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("Benifit", Model.ProductBenefits[i].Benifit, new { @class = "form-control", @placeholder = "Benifit" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i> Delete
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <div data-repeater-item>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("Benifit", null, new { @class = "form-control", @placeholder = "Benifit", })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i> Delete
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button data-repeater-create class="btn btn-success" type="button">
                                                        <i class="icon-plus4"></i> Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3">
                                    Model Name  <span class="red">*</span>
                                </label>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="repeater">
                                            <div data-repeater-list="ProductModels">

                                                @if (Model.ProductModels != null && Model.ProductModels.Any())
                                                {
                                                    for (int i = 0; i < Model.ProductModels.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("ModelName", Model.ProductModels[i].ModelName, new { @class = "form-control", @placeholder = "ModelName" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i> Delete
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <div data-repeater-item>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("ModelName", null, new { @class = "form-control", @placeholder = "ModelName", })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i> Delete
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button data-repeater-create class="btn btn-success" type="button">
                                                        <i class="icon-plus4"></i> Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-md btn-primary" value="Save" />
                                    <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                        Cancel
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    var ModelImages = [];
    var removeUrl='@Url.Action("RemoveImage","Product")'
</script>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/repeater")


    <script type="text/javascript">
        ActiveMenu("Products");

        //$('#divMultiUpload .removeImage').on('click', function () {
        //    alert('');
        //});

        $('.repeater').repeater();

        $(function () {
            var profile = document.getElementById("fileImage_@objUploadImage.hdnImageName");
            profile.onchange = function () {
                var filesize = parseFloat(this.files[0].size / 1024 / 1024);
                console.log(parseFloat(this.files[0].height))
                console.log(parseFloat(this.files[0].width))
                

                if (filesize > 5) {
                    toastr.error('Please upload file size 2MB or less', 'Error !');
                }
                else {
                    readURL(this);
                }
            };
            profile.onclick = function () {
                $(this).val('');
            };
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var dvCropImage = document.getElementById("dvCrop_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName)));
                dvCropImage.innerHTML = "";

                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement("IMG");
                    img.id = "cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName));
                    img.className = "file-crop";
                    img.src = e.target.result;
                    dvCropImage.appendChild(img);
                };
                reader.readAsDataURL(input.files[0]);

                $("#Modal_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).modal().on('shown.bs.modal',
                    function () {
                        InitilizeImageCrop();
                    });
            }
        }

        function InitilizeImageCrop() {
            $("#loader_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).hide()
            $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper({
               // autoCropArea: 1,
                dragMode: 'move',
                aspectRatio: 16 / 9,
                autoCropArea: 0.65,
                restore: false,
                guides: false,
                center: false,
                highlight: false,
                cropBoxMovable: false,
                cropBoxResizable: false,
                cropBoxResizable: false,
                built: function () {
                    $("#cropimage_" + @Html.Raw(Json.Encode(objUploadImage.hdnImageName))).cropper("setCropBoxData", { width: "1070", height: "715" });
                }
                //viewMode: 2
            });
        }

        //$('#submitForm').on('submit', function () {
        //    //alert("please check here");
        //    ModelImages = $("#divUpload").find("IMG").map(function () {
        //        return $(this).data('element');
        //    }).get();

        //    return false;
        //});

        $('.removeImage').on('click', function () {
            var name = $(this).parent().find('img').data('imagename');
            alert(name);
            console.log(removeUrl);
            $.ajax({
                type: 'POST',
                url: removeUrl + '?imagename=' + name,
                //data: { imagename: name },
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                success: function (resultResponse) {
                    if (resultResponse.Status == 200) {
                        console.log("1");
                        toastr.success(resultResponse.Message, 'Success !');
                    }
                    else {
                        toastr.error(resultResponse.Message, 'Error !');
                    }
                },
                error: function (e) {
                    $("#solid-alerts").show();
                    $('#solid-alerts #message').text(e.status + "," + e.statusText);
                    CloseBlockPage();
                }
            });
            $(this).parent().remove();
        });


    </script>
}
