﻿@model IQueryable<ViewProductModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/gridMvc")

@helper ActionButtons(int Id)
{
    <a href="@Url.Action("AddModel","Product",new { @id= Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i>Detail
    </a>

    <a href="@Url.Action("EditProduct","Product",new { @id= Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i>Edit
    </a>
    <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@Id">
        <i class="icon-trash4"></i> Delete
    </a>

}

@helper viewImage(List<ProductImagesModel> model)
{
    foreach (var i in model)
    {
        <img src="@(GlobalConfig.ProductImageUrl+i.ImageName)" style="height:100px;width:200px;" />
    }

}

@helper ViewProperty(List<ProductPropertyModel> model)
{
    <ul>
        @foreach (var itm in model)
        {
            <li>@itm.PropertyName : @itm.PropertyValue </li>
        }
    </ul>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">Products</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("AddProduct")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add().Titled("Image").Encoded(false).Sanitized(false).RenderValueAs(x => viewImage(x.ProductImages));
                               column.Add(x => x.Name).Titled("Product Name");
                               column.Add(x => x.Description).Titled("Description");
                               column.Add().Titled("property & value").Encoded(false).Sanitized(false).RenderValueAs(X => ViewProperty(X.ProductProperty));
                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                               .RenderValueAs(x => ActionButtons(x.ProductId));
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/sweetalert/sweetalert.min.js")"></script>

    <script type="text/javascript">
        ActiveMenu("Product");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
         @*$(function () {
             $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });*@

        $(function () {
            $('.btnDelete').on('click', function () {
                var control = $(this);
                var Url = '@Url.Action("DeleteProduct", "Product")';
                //$('#frmDelete #id').val($(this).data('id'));
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    //control.parent().find(".activate").show()
                                    control.parent().parent().hide();
                                }, 300);
                                swal("Deleted!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                    //if (isConfirm) {
                    //    swal("Delete!", "Selected User will be deleted, and will not be rollback!!", "success");
                    //    $('#frmDelete').submit();
                    //    return true;
                    //} else {
                    //    swal("Cancelled", "It's safe.", "error");
                    //}
                });
            });
        });
    </script>
}



