﻿@model UploadImageModel
<div class="profile-image">
    @Html.Hidden(Model.hdnImageName, null, new { @id = Model.hdnImageName })
    <div id="file_browse_wrapper">
        <input type="file" name="edit-supplier-photo" id="fileImage_@Model.hdnImageName" class="edit-photo-block">
    </div>
</div>

<div class="modal animated bounce fade text-xs-left" id="Modal_@Model.hdnImageName" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Crop single image as per your preference</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="dvCrop_@Model.hdnImageName">
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn grey btn-outline-secondary" onclick='reset_html(@Html.Raw(Json.Encode(Model.hdnImageName)))'>Close</button>

                <button type="button" class="btn btn-primary" onclick='SaveCropedImage(@Html.Raw(Json.Encode(Model.saveFilePath)),@Html.Raw(Json.Encode(Model.hdnImageName)),"@Url.Action("UploadSliderCropImage", "Utility")");'>Save Crop Image</button>
            </div>
        </div>
    </div>
</div>
