﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <div>
        <h1>Unauthorized</h1>
        <br />
        <a href="@Url.Action("Index","Home")" class="btn btn-block font-small-3">
            <i class="icon-home4"></i> Back to Home
        </a>
    </div>
    <div class="card-footer bg-transparent pb-0">
        <div class="row">
            <p class="text-xs-center col-xs-12 py-1">
                © @DateTime.Now.Year <a href="@Url.Action("Index","Home")">@GlobalConfig.ProjectName </a>
            </p>
        </div>
    </div>
</body>
</html>
