﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    p {
        text-align: left;
    }    
</style>
<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-xs-12">
                <h2>About Us</h2>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Contact Area Start -->
<div id="project-area" class="project-area section pt-50 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 mb-50" style="padding:0px;">
                <!--  Single Project Details  -->
                <div class="single-project-details">
                    <!--  Image  -->
                    @*<img class="main-image" src="~/Content/img/project/single.jpg" alt="">*@
                    <!--  Title  -->                
                    <h3 class="block-title text-center" style="font-size: 26px;font-weight: 800;">Company Profile</h3>
                    
                    <!--  Tags  -->
                    @*<div class="tags fix">
            <a href="#">Energy</a>
            <a href="#">Green</a>
            <a href="#">Solar</a>
        </div>*@
                    <p><b>Maufacturing:</b>  Agriculture machinery, Rice mill machine, Single chaff cutter, Combined chaff cutter, Export & Manufactures.</p>

                    <p><b>Our Vision:</b>  High tech solutions for professional farmers feeding the world. </p>

                    <p>
                        <b>Out Motto:</b>  " Our mission is to establish the next productivity benchmark through innovative and automated solutions to optimize the performance of the agricultural industry. With our expertise, the Agricltural produces benefit from our products and services which unless the full potential of their business".
                    </p>
                    <!--  Content  -->
                    <p>
                        <b><a href="www.rkmanufactures.in" style="color:forestgreen">R.K. Manufactures</a></b> Established In The Year-2010 In Small Scale Sector. Within Short Span Company Now Recognized As One Of The Leading Manufacturer In The Field Of Small Agriculture Machinery. Our Total Team Of Mechanical, Electrical & Industrial Engineers Are Fully Qualified And Highly Trained To Make Best Quality Products.
                    </p>
                    <p>
                        <b><a href="www.rkmanufactures.in" style="color:forestgreen">R.K. Manufactures</a></b> is ISO 9001-2008, ISO 9001-2015 Certified Company & Products Certified With ISI Mark, Also <b><a href="" style="color:blue">"WALSON"</a></b>  is a registered brand in Trademark. Due To Truly Professional Approach, High Quality Product Making System, Ultra Modern Machinery And Equipments, Experts Technicians And Prompt After Sales & Service.
                    </p>

                    <p>
                        We've Our Own Department For Research & Development. Each & Every Products Passed Through Strict Quality Control System For Final And Better Results.
                    </p>

                    <p>
                        Customer's Satisfaction Is Our Motto and For That We Always Care The Need Of Our Clients With An On Low Costing, Best Quality Materials And Finest Finish Products.
                    </p>
                    <p>
                        <b>Good Product & Give A Best Service.</b>
                    </p>




                </div>
                
            </div>
            <!--  Sidebar -->
            
        </div>
    </div>
</div>

<!-- Contact Area End -->
<!-- About Area Start -->
<div id="event-area" class="event-area section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <!-- Event Details Tabs List -->
                <!-- Event Details Tab Panes -->
                <div class="tab-content fix">
                    <div class="tab-pane active" id="date-three">
                        <h3 class="block-title text-center">Meet Our Team</h3>
                        <div class="row row-10">

                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="single-speaker">
                                    <div class="image"><img src="~/Content/img/speakers/1.jpg" alt=""></div>
                                    <div class="content">
                                        <h4>Jean Larson</h4>
                                        <p><b>Chairman</b></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="single-speaker">
                                    <div class="image"><img src="~/Content/img/speakers/2.jpg" alt=""></div>
                                    <div class="content">
                                        <h4>Piyush Padariya</h4>
                                        <p><b>CEO</b></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="single-speaker">
                                    <div class="image"><img src="~/Content/img/speakers/3.jpg" alt=""></div>
                                    <div class="content">
                                        <h4>Vipul Padariya</h4>
                                        <p><b>Marketing Excecutive</b></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About Area End -->
@section scripts{
    <script type="text/javascript">

        ActiveMenu("about");

    </script>

}
