﻿@model ContactUsModel

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AlertModel alertmodel = TempData["alertmodel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertmodel != null)
    {
        status = (int)alertmodel.alertStatus;
        message = alertmodel.alertMessage;
    }
}
<link href="~/Content/Plugins/Toaster/toastr.css" rel="stylesheet" />
<style type="text/css">
    h5 {
        color: red;
    }
</style>
<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-xs-12">
                <h2>CONTACT US</h2>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Contact Area Start -->
<div id="contact-area" class="contact-area section pt-70 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <!-- Contact Info -->
                <div class="row mb-50">
                    <div class="col-sm-4 col-xs-12 mb-30">
                        <div class="single-contact-info text-center" style="height:180px;">
                            <img src="~/Content/img/icon/icons8-gmail-filled.svg" />
                            <p>rkmanufactures@gmail.com</p>                            
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 mb-30">
                        <div class="single-contact-info text-center" style="height:180px;">
                            <img src="~/Content/img/icon/mobile.svg" />
                            <p>+91 94260 61894</p>
                            <p>+91 88668 88826 </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 mb-30">
                        <div class="single-contact-info text-center" style="height:180px;">
                            <img src="~/Content/img/icon/loc.png" />
                            <p>Nirmal Industrial Area, Survey No.30, N.H.27, Vavdi, Rajkot(Guj.)-360004.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-md-7 col-xs-12 mb-50">
                        <h3 class="block-title">Contact Form</h3>
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                        {
                            <div class="input-box input-1">
                                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Your name" })
                                <h5>@Html.ValidationMessageFor(x => x.Name)</h5>
                            </div>
                            <div class="input-box input-1">
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Your Email" })
                                <h5>@Html.ValidationMessageFor(x => x.Email)</h5>
                            </div>
                            <div class="input-box input-1">
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = "Phone Number" })
                                <h5>@Html.ValidationMessageFor(x => x.PhoneNumber)</h5>
                            </div>
                            <div class="input-box">
                                @Html.TextAreaFor(x => x.Message, new { @placeholder = "Your massage" })
                                <h5>@Html.ValidationMessageFor(x => x.Message)</h5>
                            </div>
                            <div class="input-box"><input type="submit" value="submit"></div>
                        }

                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->
<!-- About Area Start -->
<div id="event-area" class="event-area section pt-50 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <!-- Event Details Tabs List -->
                <!-- Event Details Tab Panes -->
                <div class="tab-content fix">
                    <div class="tab-pane active" id="date-three">
                        <h3 class="block-title" style="text-align:center;">Team</h3>
                        <div class="row row-10">
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="single-speaker">
                                    <div class="image"><img src="~/Content/img/speakers/1.jpg" alt=""></div>
                                    <div class="content">
                                        <h4>Jean Larson</h4>
                                        <p>Garden super</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="single-speaker">
                                    <div class="image"><img src="~/Content/img/speakers/2.jpg" alt=""></div>
                                    <div class="content">
                                        <h4>James Henry</h4>
                                        <p>Garden super</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="single-speaker">
                                    <div class="image"><img src="~/Content/img/speakers/3.jpg" alt=""></div>
                                    <div class="content">
                                        <h4>Carl Berry</h4>
                                        <p>Garden super</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About Area End -->
@Scripts.Render("~/jQuery/validate")
@section scripts{
    <script src="~/Content/Plugins/Toaster/toastr.min.js"></script>
    <script type="text/javascript">

        ActiveMenu("contact");

    </script>
    <script>
        $(function () {
            $('img').attr('data-action', 'zoom');

            var status =@status;
            if (status == 0)
            {
                toastr.success('@message', 'Success.');
            }
            else if (status == 1) {
                toastr.info('@message', 'Message.');
            }
            else if (status == 2) {
                toastr.info('@message', 'Info.');
            }
            else if (status == 3) {
                toastr.warning('@message', 'Warning !');
            }
            else if (status == 4) {
                toastr.error('@message', 'Error !');
            }
        });
    </script>

}


