﻿
@{
    ViewBag.Title = "Gallary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-xs-12">
                <h2>Gallary</h2>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li><a href="#">Gallary</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Gallery Area Start -->
<div id="gallery-area" class="gallery-area section pt-70 pb-70">
    <div class="container" style="padding-left: 0px; padding-right: 0px;">
        <h2 class="text-center">Gallary</h2>
        <br />
        <div class="gallery-wrapper row row-5">
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="img/gallery/big-1.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/1.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-2.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/2.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-3.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/3.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-4.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/4.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-5.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/5.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-6.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/6.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-2.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/2.jpg" alt=""></a>
            </div>
            <!--  Gallery Item  -->
            <div class="col-md-3 col-sm-4 col-xs-6 mb-10">
                <a href="~/Content/img/gallery/big-3.jpg" class="gallery-item gallery-popup"><img src="~/Content/img/gallery/3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Area End -->
@section scripts{
    <script type="text/javascript">
        ActiveMenu("gallary");

        

    </script>

}
