﻿@model RkCore.Model.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Hero Area Start -->
<div id="hero-area" class="hero-area section">
    <!-- Hero Slider -->
    <div id="hero-slider" class="nivoSlider">
        @if (Model.Slider.Count > 0 && Model.Slider != null)
        {
            foreach (var itm in Model.Slider)
            {
                <img src="@(RkCore.Helper.GlobalConfig.SliderImageUrl+itm.sliderimage)" alt="" title="#herocaption-@(itm.Id)" />
            }
        }
        @*<img src="~/Content/img/0FnCe3.jpg" title="#herocaption-3"/>*@
    </div>
    <!-- Hero Slider Caption -->
    @if (Model.Slider.Count > 0 && Model.Slider != null)
    {
        foreach (var i in Model.Slider)
        {
            <div id="herocaption-@(i.Id)" class="nivo-html-caption">
                <div class="container">
                    <div class="row">
                        <!-- Hero Content -->
                        <div class="hero-content col-xs-12">
                            <h1 class="wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="0.5s">@i.HeaderText</h1>
                            <p class="wow cusFadeInRight" data-wow-duration=".5s" data-wow-delay="1s">@i.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- Hero Area End -->
<!-- Service Area Start -->
<div id="service-area" class="service-area section pt-80 pb-80">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-50">
                <h1>R.K.</h1><h1>MANUFACTURES </h1>
                <h2>AN ISO 9001:2015 Certified company</h2>
                <p>We R.K. Manufatures are one of the leading manufacturers of agriculure Machines across the India since 2010.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">
                    <img src="~/Content/img/service/sales-service.png" />
                    <h4>Sales & Service</h4>
                    <p>We Exports machines in all over India and out of other countries. </p>
                </div>
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">

                    <img src="~/Content/img/service/icons8-best-seller-filled-50.png" />
                    <h4>Best Quality</h4>
                    <p>We provides best quality products with customer satisfaction.</p>
                </div>
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">

                    <img src="~/Content/img/service/icons8-low-price-filled-50.png" />
                    <h4>Low Costing</h4>
                    <p>Our Products are low costing and affordable cost with Top Quality.</p>
                </div>
                <!--  Single Service  -->
                <div class="single-service text-center col-md-3 col-sm-6 col-xs-12">

                    <img src="~/Content/img/service/icons8-connectivity-and-help-filled-50.png" />
                    <h4>Customer RelationShip</h4>
                    <p>the link between the customer and the organisation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Area End -->
<!-- About Area Start -->
<div id="about-area" class="about-area bg-dark section">
    <!--  About Image  -->
    <div class="about-image"><img src="~/Content/img/about/about.jpg" alt="" class="hidden-lg hidden-md"></div>
    <div class="container">
        <div class="row">
            <!--  About Content  -->
            <div class="about-content col-md-6 col-md-offset-6 col-xs-12 pt-110 pb-110">
                <h2>Over More than</h2>
                <h1>15+ Products WorldWide</h1>
                <p>Based on our rich industry knowledge, high-quality product range and Best Service, we have attained a huge client base all across the nation. Reasons for which we have become the foremost choice of patrons.</p>
                <a href="@Url.Action("ContactUs","Home")" class="button white">Contact Us</a>
                <a href="@Url.Action("About","Home")" class="button">view details</a>
            </div>
        </div>
    </div>
</div>

<!-- Project Area Start -->
<div id="project-area" class="project-area section pt-80 pb-80">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-80">
                <h2>PRODUCTS</h2>
            </div>
        </div>
        <div class="row">
            @if (Model.ProductList != null)
            {
                foreach (var product in Model.ProductList)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                        <div class="single-project">
                            <!--  Image  -->
                            <a href="javascript:;"><img src="@(GlobalConfig.ProductImageUrl+product.ProductImages.FirstOrDefault().ImageName)" style="width:100%;" alt=""></a>

                            <!--  Title  -->
                            <h4><a href="@Url.RouteUrl("pdetail",new { name=product.Name.ToLower().Trim().Replace(" ","-") })">@product.Name</a></h4>
                            <!--  Tags  -->
                            @if (product.ProductModels != null)
                            {
                                <div class="tags fix">
                                    <small>Model: </small>
                                    @foreach (var i in product.ProductModels)
                                    {
                                        <a href="javascript:;">@i.ModelName</a>
                                    }
                                </div>
                            }

                            <!--  Content  -->
                            @if (product.Description.Length > 10)
                            {
                                <p class="">@(product.Description.Substring(0, 100) + "...") </p>
                            }
                            else
                            {
                                <p>@product.Description </p>
                            }

                            <!--  Button  -->
                            <a class="btn btn-default" href="@Url.RouteUrl("pdetail",new { name=product.Name.ToLower().Trim().Replace(" ","-") })">Detail</a>
                            @if (!string.IsNullOrEmpty(product.VideoLink))
                            {
                                <a class="btn btn-success video-popup" href="@product.VideoLink.Trim()"><i class="zmdi zmdi-play-circle-outline"></i> Video</a>
                            }

                        </div>
                    </div>

                }
            }
            <!--  Single Project  -->


        </div>
    </div>
</div>
<!-- Project Area End -->
<!-- Client Area Start -->
<div id="client-area" class="client-area bg-dark section pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <!--  Client Slider  -->
                <div class="client-slider">
                    <!--  Client Item  -->
                    <div class="client-item"><img style="height:90px;" src="~/Content/img/clients/Make_In_India.png" alt=""></div>
                    <!--  Client Item  -->
                    <div class="client-item"><img style="height:90px;" src="~/Content/img/clients/anc_Iso-9001-2015.png" alt=""></div>
                    <!--  Client Item  -->
                    <div class="client-item"><img style="height:85px;" src="~/Content/img/clients/msme.png" alt=""></div>
                    <!--  Client Item  -->
                    <div class="client-item"><img style="height:90px;" src="~/Content/img/clients/swach.png" alt=""></div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Video Area Start -->
<div id="video-area" class="video-area section overlay pt-150 pb-150">
    <div class="container">
        <div class="row">
            <!--  Video Wrapper  -->
            <div class="video-wrapper col-xs-12 text-center">
                <h1>WATCH OUR LATEST PRODUCT VIDEO</h1>
                <p>This Project is Best Product for harvesting rice.</p>
                <a class="video-popup" href="https://www.youtube.com/watch?v=mcixldqDIEQ"><i class="zmdi zmdi-play-circle-outline"></i></a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("Home");

    </script>

}
