﻿
@{
    ViewBag.Title = "WhyUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .single-service p {
        color: #2f2f39;
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }

    .single-service {
        background-color: #f5f5f5;
        padding: 22px 22px;
        text-align: center;
        border: 1px dotted #2f2f39;
        margin-bottom: 30px;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        -ms-transition: .3s all ease;
        transition: .3s all ease;
        position: relative;
        cursor: pointer;
    }

        .single-service:hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=#000000)";
            -moz-box-shadow: 0 0 8px 3px rgba(0,0,0,.3);
            -webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,.3);
            box-shadow: 0 0 8px 3px rgba(0,0,0,.3);
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8,Direction=135,Color=#000000);
        }

        .single-service h4 {
            padding-top: 18px;
            padding-bottom: 10px;
            font-weight: 600;
            color: #2f2f39;
            font-size: 16px;
        }

        .single-service img {
            padding-top: 12px;
            padding-bottom: 12px;
            height: 100px;
        }

    .home2 .single-service:after {
        background-color: #5882fd;
    }

    .single-service:hover:after {
        width: 100%;
    }

    .single-service:after {
        content: '';
        width: 0;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #f06334;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        -ms-transition: .3s all ease;
        transition: .3s all ease;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .BoxHeight {
        height: 400px;
    }
</style>
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-xs-12">
                <h2>Why Us</h2>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li><a href="#">Why Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="project-area" class="project-area section pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">WHY CHOOSE US</h1>
                <br />
                <p>
                    Incepted in the years 2010 at Rajkot (Gujarat, India), we “R.K. Manufatures” are a Sole Proprietorship firm that is an affluent manufacturer of a wide array of     Combined chaff cutter,Single chaff cutter,Rice mill machine, Corn Thresher Machine, etc. We provide these products as per the latest market trends and deliver these at users’ premises within the scheduled time frame. Under the supervision of “Mr. Piyush Padariya" (Proprietor), we have gained huge success in this field.
                </p>
                <br />
                <br />
            </div>

            <div class="col-md-4">
                <div class="single-service BoxHeight">
                    <img class="lazy" alt="" src="~/Content/img/icon/quality.svg" style="display: inline-block;">

                    <h4>High-quality products</h4>
                    <p>We always prefer to use good quality componants and tools in our products. as per ISO 9001:2015 standards we maintain super quality of our products. end of the result we produce high quality Products.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service BoxHeight">
                    <img class="lazy" alt="" src="~/Content/img/icon/target.svg" style="display: inline-block;">
                    <h4>Skilled team of professionals</h4>
                    <p>As an Manufacturing company in India, our Production Process and strategies are completely inhouse with experianced people.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service BoxHeight">
                    <img class="lazy" alt="" src="~/Content/img/icon/payment.svg" style="display: inline-block;">
                    <h4>Easy payment modes</h4>
                    <p>We provides customers to multiple ways of payment mode and all these ways are legel and secure. customers satisfies with the way of easy payment mode. we are also moved towards on digital transactions.</p>
                    <br />
                    <br />
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service BoxHeight">
                    <img class="lazy" alt="~/Content/img/icon/distribution.svg" src="~/Content/img/icon/distribution.svg" style="display: inline-block;">
                    <h4>Wide distribution network</h4>
                    <p>RK manfactures have many distributors and dealers in major cities of India. We Provides them all powerfull assistance to build this business Better and Success.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service BoxHeight">
                    <img class="lazy" alt="" src="~/Content/img/icon/shipping.svg" style="display: inline-block;">
                    <h4>Good care of stomer</h4>
                    <p>We also Provide assistance to customer after sale as per their need like we help them in understanding machine more appropriately and in simple way.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service BoxHeight">
                    <img class="lazy" alt="" src="~/Content/img/icon/icons8-rules-filled-500.png" style="display: inline-block;">
                    <h4>Ethical business policies</h4>
                    <p>We Believes in transparent policies in our business and keep things clear with our customers, dealers and distributors. It helpfull for makes us to expand our business.</p>
                </div>
            </div>


        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("whyus");
    </script>

}
