﻿@model List<ProductListModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/SwipeBox/swipebox.css" rel="stylesheet" />*@

<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">


            <div class="page-banner col-xs-12">
                <h2>Products</h2>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="#">Products</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Project Area Start -->
<div id="project-area" class="project-area section pt-70 pb-70">
    <div class="container">
        <!-- Section Title -->
        

        <div class="row">

            <h2 class="text-center">OUR PRODUCTS</h2>
            <br />
            @if (Model != null)
            {
                foreach (var product in Model)
                {
                    <div class="col-sm-6 col-xs-12 mb-30">
                        <div class="blog-item">
                            <!--  Image  -->
                            <a href="@Url.RouteUrl("pdetail",new {name=product.Name.ToLower().Trim().Replace(" ","-")})" class="image"><img src="@(GlobalConfig.ProductImageUrl+product.ProductImages.FirstOrDefault().ImageName)" style="padding-top:34px;" alt=""></a>
                            <!--  Content  -->
                            <div class="content">
                                <h4><a href="@Url.RouteUrl("pdetail",new {name=product.Name.ToLower().Trim().Replace(" ","-")})">@product.Name</a></h4>
                                @if (product.ProductModels != null)
                                {
                                <div class="meta fix">
                                    <span>Model:</span>
                                    @foreach (var i in product.ProductModels)
                                    {
                                        <span><a href="javascript:;">@i.ModelName</a></span>
                                        
                                    }

                                </div>
                                   
                                }
                                <!--  Meta  -->
                                                               
                                <p>@(product.Description.Substring(0, 150) + "...")</p>
                                <a href="@Url.RouteUrl("pdetail",new {name=product.Name.ToLower().Trim().Replace(" ","-")})" class="read-more"><b>LEARN MORE</b></a>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">

        ActiveMenu("Products");

    </script>

}