﻿@model ViewProductModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{


    @*<link href="~/Content/Plugins/Materialize/materialize.css" rel="stylesheet" />*@
}
<style>
    ul.a {
        list-style-type: circle;
    }

    h3 {
        font-weight: 700 !important;
    }
</style>
<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-xs-12">
                <h2>Products</h2>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="#">Products</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Contact Area Start -->
<div id="causes-area" class="causes-area section pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12 mb-50">
                <!-- Single Causes Details -->
                <div class="single-causes-details">
                    <!--  Image  -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @if (Model.ProductImages != null)
                            {
                                int i = 0;
                                foreach (var img in Model.ProductImages)
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                                    i++;
                                }

                            }

                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @if (Model.ProductImages != null)
                            {
                                int i = 0;
                                foreach (var img in Model.ProductImages)
                                {
                                    <div class="item @(i==0?"active":"")">
                                        <img src="@(GlobalConfig.ProductImageUrl+img.ImageName)" style="width:100%" alt="Los Angeles">
                                    </div>
                                    i++;
                                }

                            }

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="icon-prev" style="color:#6ab43e"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="icon-next" style="color:#6ab43e"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--  Title  -->
                    <br />
                    <h3 class="title" style="text-align:center;margin-top:1%">@Model.Name</h3>
                    <br />
                    <!--  Country  -->
                    @*<span class="country">Brazil</span>*@
                    <!--  Content  -->
                    <p style="margin-top:1%">@Model.Description</p>
                    <h3 style="margin-top:1%">Properties</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                @if (Model.ProductProperty != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model.ProductProperty)
                                    {
                                        <tr>
                                            <td><span class="number">@i</span></td>
                                            <td><p>@item.PropertyName</p></td>
                                            <td><span class="amount">@item.PropertyValue</span></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <p>
                        <h3>Product Features</h3>
                        @if (Model.Producteatures != null)
                        {
                            <ul class="a" style="margin-left:10%">
                                @foreach (var item in Model.Producteatures)
                                {
                                    <li>@item.Feature</li>
                                }
                            </ul>
                        }
                    </p>
                    <p>
                        <h3>Product Benifits</h3>
                        @if (Model.ProductBenfts != null)
                        {
                            <ul class="a" style="margin-left:10%">
                                @foreach (var item in Model.ProductBenfts)
                                {
                                    <li>@item.Benifit</li>
                                }
                            </ul>
                        }
                    </p>
                </div>
                <!-- Comment Wrapper -->
            </div>
            <!--  Sidebar -->
            <div class="col-lg-3 col-md-4 col-xs-12 mb-50">
                <div class="single-sidebar">
                    <h3 class="title">Products List</h3>

                    @if (Model.ProductList != null)
                    {
                        <ul class="recent-post-sidebar">
                            @foreach (var item in Model.ProductList)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("pdetail",new {name=item.Name.ToLower().Trim().Replace(" ","-")})" class="image float-left"><img src="@(GlobalConfig.ProductImageUrl+item.ProductImages.FirstOrDefault().ImageName) " alt=""></a>
                                    <div class="content fix">
                                        <a href="@Url.RouteUrl("pdetail",new {name=item.Name.ToLower().Trim().Replace(" ","-")})">@item.Name</a>
                                        <p>@(item.Description.Substring(0, 25) + "...")</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->
@*<!-- Contact Area Start -->
    <div id="causes-area" class="causes-area section pt-120 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-xs-12 mb-50">
                    <!-- Single Causes Details -->
                    <div class="single-causes-details">
                        <!--  Title  -->
                        <h1 class="title">@Model.Name</h1>
                        <br />
                        <br />
                        <p>@Model.Description </p>
                        @if (Model.ProductProperty != null)
                        {
                            int j = 1;
                            <h3>Properties</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        @foreach (var prop in Model.ProductProperty)
                                        {
                                            <tr>
                                                <td><span class="number">@j</span></td>
                                                <td><p>@prop.PropertyName</p></td>
                                                <td><span class="amount">@prop.PropertyValue</span></td>
                                            </tr>
                                            j++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        @if (Model.Producteatures != null)
                        {
                            <h3>Features</h3>
                            <ul>
                                @foreach (var ftr in Model.Producteatures)
                                {
                                    <li style="padding:5px;">@ftr.Feature</li>
                                }

                            </ul>
                        }

                        @if (Model.ProductBenfts != null)
                        {
                            <h3>Product Benfts</h3>
                            <ul>
                                @foreach (var ftr in Model.ProductBenfts)
                                {
                                    <li>@ftr.Benifit</li>
                                }

                            </ul>
                        }

                    </div>
                    <!-- Comment Wrapper -->

                </div>
            </div>
        </div>
    </div>
    <!-- Contact Area End -->*@

@section Scripts{
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript">
        $(function () {
            $('.demoClassData').each(function () {
                var str = $(this).text();
                var res = str.substr(0, 30);
                $(".demoClassData").text(res + "...");
            });
        });
    </script>
}

