﻿@{

}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>R.K. Manufactures</title>
    <meta name="description" content="RK Manufactures rajkot, Walson,">
    <meta property="og:title" content="R.K. Manufactures" />
    <meta property="og:url" content="http://rkmanufactures.in" />
    <meta property="og:site_name" content="http://rkmanufactures.in">
    <meta property="og:description" content="R.K. Manufactures is manufactures Agricultural machinery" />
    <meta property="og:image" content="@Url.Content("~/Content/img/login_logo_IiM_icon.ico")">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/login_logo_IiM_icon.ico">
    <link rel="canonical" href="http://rkmanufactures.in/" />
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500," rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")

    <!-- CSS -->
    @RenderSection("css", false)
    <style type="text/css">
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            /*background: url(Content/img/Preloader_2.gif) center no-repeat #fff;*/
        }
    </style>


    <!-- Modernizer JS -->
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
</head>
<body>
    <div class="se-pre-con" style="background: url(@Url.Content("~/Content/img/login-logo.gif")) center no-repeat #fff;"></div>
    <!-- Body main wrapper start -->
    <div class="wrapper fix">

        <!-- Header Area Start -->
        <div id="header-area" class="header-area section">

            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top Left -->
                        <div class="header-top-left text-left col-md-6 col-sm-8 col-xs-12">
                            <p style="text-align:left;"><span><b>Phone:</b></span><b>+91 94260 61894</b></p>
                            <p style="text-align:left;"><span><b>Email: </b></span><b>rkmanufactures@gmail.com</b></p>
                        </div>
                        <!-- Header Top Right -->
                        <div class="header-top-right col-md-6 col-sm-4 col-xs-12 hidden-xs">
                            <!-- Header Quote Button -->
                            <a href="@Url.Action("ContactUs","Home")" class="get-quote float-right">get a qoute</a>
                            <!-- Header Social -->
                            <div class="header-social float-right hidden-sm">
                                <a href="#"><i class="fa fa-facebook"></i></a>

                                <a href="#"><i class="fa fa-google-plus"></i></a>

                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- Header Bottom Start -->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Logo -->
                            <div class="header-logo float-left"><a class="logo" href="@Url.Action("Index","Home")"><img src="~/Content/img/RKlogo3.png" Style="width:215px;" alt=""></a></div>
                            <!-- Header Search Wrapper -->
                            @*<div class="header-search-wrapper float-right">
                                    <!-- Search Toggle -->
                                    <button class="search-toggle"><i class="zmdi zmdi-search-for"></i></button>
                                    <!-- Header Search Wrapper -->
                                    <div class="header-search">
                                        <form action="#" id="header-search-form">
                                            <input type="text" placeholder="Search here...">
                                            <button><i class="zmdi zmdi-search"></i></button>
                                        </form>
                                    </div>
                                </div>*@
                            <!-- Main Menu -->
                            <div id="main-menu" class="main-menu float-right hidden-xs">
                                <nav>
                                    <ul>
                                        <li id="liHome">
                                            <a href="@Url.Action("Index","Home")">home</a>
                                        </li>
                                        <li id="liabout"><a href="@Url.Action("About","Home")">about</a></li>
                                        <li id="liProducts">
                                            <a href="@Url.Action("Index","Product")">Products</a>

                                        </li>
                                        <li id="ligallary"><a href="@Url.Action("Gallary","Home")">gallery</a></li>

                                        <li id="liwhyus"><a href="@Url.Action("WhyUs","Home")">why us</a></li>

                                        <li id="licontact"><a href="@Url.Action("ContactUs","Home")">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom End -->

        </div>
        <!-- Header Area End -->

        @RenderBody()
    </div>
    <!-- Body main wrapper end -->
    <!-- Footer Top Area Start -->
    <div id="footer-top-area" class="footer-top-area bg-dark section pt-100 pb-10">
        <div class="container">
            <div class="row">
                <!--  Footer Widget  -->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-50">
                    <!--  About Widget  -->
                    <div class="about-widget">
                        <img src="~/Content/img/RKlogo3.png" style="width:80%;
    background-color: white;" alt="">
                        <p>Nirmal Industrial Area, Survey No.30, N.H.27, Vavdi, Rajkot(Guj.)-360004.</p>
                        <!-- Footer Social -->
                        <div class="footer-social fix">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <a href="@(GlobalConfig.CatalogImageUrl+"CATLOGNEW.pdf")" class="button" download>Get Broucher</a>
                    </div>
                </div>
                <!--  Footer Widget  -->
                <div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-50">
                    <h3>Latest News</h3>
                    <!--  Latest News Widget  -->

                    <div class="footer-news">
                        <div class="content fix">
                            <a href="@Url.Action("Index","Home")">Home</a><br />
                            <a href="@Url.Action("About","Home")">About</a><br />
                            <a href="@Url.Action("Index","Product")">Product</a><br />
                            <a href="@Url.Action("Gallary","Home")">Gallary</a><br />
                            <a href="@Url.Action("WhyUs","Home")">Why Us</a><br />
                            <a href="@Url.Action("ContactUs","Home")">Contact Us</a>
                        </div>
                    </div>
                </div>
                <!--  Footer Widget  -->
                <div class="contact-map col-md-6 col-xs-12" style="margin-top:0px;">
                    <div id="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3693.151208311831!2d70.791672314824!3d22.234340985357942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca95e3758d07%3A0xd15e493d59cdbad3!2sR.k.manufactures!5e0!3m2!1sen!2sin!4v1545738501074" width="100%" height="268" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top Area End -->
    <!-- Footer Bottom Area Start -->
    <div id="footer-bottom-area" class="footer-bottom-area section">
        <!-- Footer Top Area End -->
        <div class="container">
            <div class="row">
                <!-- Copyright -->
                <div class="copyright text-left col-sm-6 col-xs-12">
                    <p>Copyright &copy; <span>RK ManuFactures</span>. 2019.All right reserved</p>
                </div>
                <!-- Author Credit -->
                <div class="author-credit text-right col-sm-6 col-xs-12">
                    <p>Created by <a href="https://www.linkedin.com/in/chetan-chandrapal-a15085116">Chandrapal Chetan</a> With <i class="fa fa-heart"></i></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area End -->
    @Scripts.Render("~/js/contentjs")
    <script>
        function ActiveMenu(liId) {
            $("#li" + liId).addClass("active");
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>